/** List feed **/
.feed-container .list-feed:not(.with-image) {
    li {
        span.date {
            float: left;
            + a {
                display: block;
                margin-left: 3.5em;
            }
        }
    }
}
.feed-container .list-feed {
    background: @list-feed-background;
    padding: @list-feed-padding;
    margin-bottom: 20px;
    li {
        line-height: 2em;
        a {
            text-decoration: none;
        }
    }
    .title {
        font-weight: normal;
    }
    .feed-header {
        display: inline-block;
        color: @list-feed-header-color;
        padding: @list-feed-header-padding;
        background: @list-feed-header-background;
    }
    .more-link {
        margin-top: 15px;
    }
    .date {
        color: @gray-light;
    }

    .text {
        color: @gray;
        &:hover {
            text-decoration: none;
        }
    }

    .xcal {
        padding-bottom: 0px;
        display: block;
        margin-bottom: 0px;
        color: @gray;
        i {
            padding-right: 5px;
        }
    }

    &.with-image {
        li {
          clear: both;
        }
        img {
            max-width: 40%;
            margin-bottom: 15px;
            margin-right: 10px;
            float: left;
        }
        .date {
            position: absolute;
            padding: 5px;
            color: @body-bg;
            background: rgba(20,20,20,.6);
            left: 25px;
        }
        .title, .text {
            vertical-align: top;
            float: right;
            width: 55%;
        }
        .text {
            padding-bottom: 15px;
        }
        p {
            &.xcal {
                float: right;
                width: 55%
            }
        }
        .more-link {
            display: block;
            text-align: center;
            padding-top: 15px;
        }

    }

}

// mixin for image prosessing on fulltext rss feeds
.rss-content-image {
    height: auto;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

// rss-feeds on content page
.main.template-dir-feedcontent.template-name-content {
    .feed-content {
        img {
            .rss-content-image();
        }
        .date {
            font-weight: bold;
            background: #DFDFDF;
            text-transform: uppercase;
            padding: 5px;
            margin-bottom: 10px;
            display: none;
            font-size: .9em;
        }
    }
    .article-navigation-header {
        display: none;
        margin-top: 0;
        padding-top: 0;
        @media (max-width: @screen-xs-max) {
            margin-top: 10px;
            padding-top: 10px;
            background-color: @body-bg;
            border-top: 1px solid @gray-mid-light;
        }
        .menu-label {
            display: none;
        }
    }
    ul.article-links {
        margin-left: 0px;
        li {
            display: block;
            margin-bottom: 10px;
            font-size: 1.05em;
            word-wrap: break-word;
        }
    }
    .feed-content-additional {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .next-articles {
        .next-articles-header {
            border-top: 1px solid @gray-lighter;
            margin-top: 1em;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        .next-articles-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            @media screen and (min-width: @screen-sm-min) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (min-width:@screen-lg-min) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            .article {
                display: flex;
            }
            .publish-date {
                display: block;
                font-size: 1em;
            }
            .article-title {
                font-size: 1em;
                font-weight: bold;
                display: block;
                padding-bottom: 1em;
            }
            .article-image {
                flex-shrink: 0;
                img {
                    object-fit: cover;
                    aspect-ratio: (3 / 2);
                    width: 150px;
                }
                margin-right: 10px;
            }
        }
    }
}

// rss-feed content
.feed-content {
    ul, ol {
        margin-left: 25px;
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }
}

// rss-feed in modal window
#modal.feed-content {
    -webkit-overflow-scrolling: auto ;
    .modal-dialog {
        img {
            .rss-content-image();
            max-width: 100% !important;
            height: auto !important;
        }
        .date {
            color: @gray-light;
            margin-bottom: 15px;
            display: none;
        }
    }
}

// rss-feed on organisation page
.organisation-info-page .feed-container.info-element {
    .list-feed {
        padding: 0;
        margin-bottom: 0;
    }
}

// Feed tabs
.feed-tabs-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid #919191;
    align-items: center;
    .feed-tabs-title {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .nav {
        margin-bottom: 0;
    }
    .nav-tabs {
        border-bottom: none;
        margin-right: 0;
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
}

// Grid styling
.feed-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .grid-item {
        flex-basis: 33%;
        max-height: 125px;
        margin-bottom: 20px;
        overflow: hidden;
        @media (max-width: @screen-sm-max) {
            flex-basis: 50%;
        }
        @media (max-width: @screen-xs-max) {
            flex-basis: 100%;
        }
        .grid-info {
            color: @text-color;
            .title {
                font-weight: 700;
                color: @link-color;
            }
            .xcal {
                i {
                    padding-right: 5px;
                }
            }
        }
    }
    &.with-image {
        .grid-item {
            .grid-info {
                width: 55%;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        .grid-image {
            width: 45%;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            position: relative;
            transform: translate(-50%, -50%);
        }
        .grid-link {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }
    }
}

// xCal fields
.xcal-fields {
    margin-bottom: 20px;
   .xcal-value {
       float: right;
       width: 70%;
   }
   div {
       display: inline-block;
       width: 100%;
   }
}

// LinkedEvents
.linked-events-content, .related-events {
    .grid-image.no-image {
        background-color: @gray-ultralight;
        .image-placeholder {
            color: @gray-light;
            font-size: 3em;
            position: relative;
            left: 37%;
            top: 30%;
        }
    }
}
.events-tabs {
    @media (max-width: @screen-sm-max) {
        display: none;
    }
}

.linked-events-pagination {
    display: flex;
    justify-content: center;
    span {
        i {
            font-size: 2em;
            &:hover {
            cursor: pointer
            }
        }
    }
}
.linked-events-content {
    .fa-spinner {
        position: relative;
        left: 50%;
    }
}
.events-searchtools-toggle {
    cursor: pointer;
    display: none;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.84em;
    &.open i {
        transform: rotate(180deg);
    }
    @media (max-width: @screen-xs-max) {
        display: block;
    }
}
.events-searchtools-container {
    display: block;
    margin-bottom: 15px;
    @media (max-width: @screen-xs-max) {
        display: none;
        &.open {
            display: inherit;
        }
    }
    .event-search-container, .event-date-container {
        margin-right: 10px;
        margin-left: 5px;
    }
    .event-date-container {
        @media (max-width: @screen-xs-max) {
            display: block;
         }
    }
    input {
        border-radius: 5px;
        border: 1px solid @gray-lighter;
        padding: 5px;
    }
    .event-datepicker {
        width: 100px;
    }
    .event-date-title {
        @media (max-width: @screen-xs-max) {
            display: block;
        }
    }
    .linked-event-search {
        @media (max-width: @screen-xs-max) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .event-geolocation {
        text-transform: uppercase;
        font-size: 0.84em;
        color: @brand-primary;
        font-weight: bold;
        margin-left: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}
.linked-events-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .linked-events-next {
        margin-right: 10px;
    }
}
.linked-events-noresults {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.linked-event-content {
    .linked-event-info {
        display: flex;
        color: @gray-light;
        .linked-event-field {
            margin-right: 30px;
        }
    }
    .linked-events-left-col {
        width: 65%;
        float: left;
        margin-top: 20px;
        @media (max-width: @screen-sm-max) {
            width: 100%;
        }
        .linked-event-image {
            margin-top: 20px;
            margin-bottom: 20px;
            max-height: 500px;
        }
        .linked-event-description {
            margin-top: 10px;
        }
        .linked-event-keywords {
            display: flex;
            flex-wrap: wrap;
            color: @gray-mid-light;
            margin-top: 20px;
            .linked-event-keyword {
                margin-right: 30px;
                margin-bottom: 10px;
            }
        }
    }
    .linked-events-right-col {
        width: 30%;
        float: right;
        margin-top: 20px;
        @media (max-width: @screen-sm-max) {
            width: 100%;
        }
        .linked-event-map-info {
            .linked-event-field {
                border-bottom: 1px solid @gray-lighter;
                padding: 5px;
                .fa-envelope {
                    float: left;
                    margin-right: 5px;
                    margin-top: 2px;
                }
            }
        }
        .linked-events-map {
            margin-top: 21px;
            height: 200px;
            width: 350px;
        }
    }
}

finna-feed {
    display: block;
    .autoplay-button {
        border: none;
        background: none;
        font-size: 20px;
        position: absolute;
        i {
            cursor: pointer;
        }
        &:not(.is-active) {
            .pause-icon {
                display: none;
            }
        }
    }
    .arrow-feed-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .carousel-header {
        background: @carousel-header-background;
        display: inline-block;
        padding: @carousel-header-padding;
        color: @carousel-header-color;
    }
    .carousel-hover-title {
        font-size: 14px;
        font-weight: 900;
        color: @carousel-slide-header-color;
    }
    .carousel-hover-title, .carousel-slide-header p {
        overflow-wrap: break-word;
    }
    .carousel-non-touch-device .carousel-hover-title::after {
        content: " »";
    }
    .carousel-hover-date {
        font-weight: 300;
        color: @gray-lighter;
    }
    .splide__arrows {
        position: absolute;
        pointer-events: none;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        margin: auto;
        button {
            position: relative;
            width: 20px;
            height: 40px;
            display: flex;
            align-items: center;
            pointer-events: auto;
            border: none;
            background-color: transparent;
            &[disabled] {
                display: none;
            }
        }
    }
    .feed-item-holder {
        height: 100%;
        position: relative;
        display: flex !important;
        .feed-link {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
    .wrapper {
        display: flex;
        background: @carousel-slider-background;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel-slide-header {
        p {
            .carousel-date {
                display: block;
                font-weight: 400;
            }
        }
    }
    .splide__pagination {
        li {
            padding: 5px;
            button {
                font-size: 1em;
                line-height: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5px;
                height: 5px;
                padding: 5px;
                cursor: pointer;
                color: #cfcfcf;
                border: 0;
                outline: none;
                background: transparent;
                border-radius: 50%;
                &.is-active {
                    color: @brand-primary;
                }
            }
            @media (min-width: @screen-md) {
                padding: 20px 10px 5px 10px;
                button {
                    font-size: 1.2em;
                }
            }
        }
    }
}
finna-feed.splide--ltr {
    .splide__arrows {
        width: 100%;
        left: 0;
        right: 0;
        button {
            &.left {
                left: -24px;
                transform: rotate(180deg);
            }
            &.right {
                right: -24px;
            }
        }
    }
    .feed-item-holder {
        &:hover {
            .carousel-text:not(.no-text) {
                opacity: 1;
            }
            .carousel-slide-header:not(.title-bottom) {
                opacity: 0;
            }
        }
        .feed-link {
            flex-flow: column;
        }
        .wrapper {
            flex: 1 1 100%;
            width: 100%;
            img {
                max-width: none;
                max-height: 100%;
            }
        }
        .carousel-text {
            width: 100%;
            position: absolute;
            height: 100%;
            color: @carousel-slide-text-color;
            background: @carousel-text-background-color;
            opacity: 0;
            padding: 10px;
            .text {
                height: 100%;
                overflow: hidden;
            }
        }

        .carousel-slide-header {
            p {
                position: absolute;
                &.title-bottom {
                    position: initial;
                    height: 100%;
                    width: 100%;
                }
                bottom: 0;
                width: 100%;
                min-height: 30px;
                width: 100%;
                z-index: 1;
                padding: 5px 10px;
                color: @carousel-slide-header-color;
                background: @carousel-slide-header-background;
                font-size: 14px;
                font-weight: 900;
                margin: 0;
                margin-bottom: 0;
                letter-spacing: 0.2px;
                text-shadow: @carousel-slide-header-text-shadow;
            }
        }
    }
}

finna-feed.splide--ttb {
    .splide__arrows {
        height: auto;
        flex-flow: column;
        right: -20px;
        top: 0;
        bottom: 0;
        button {
            &.up {
                top: 0;
                transform: rotate(-90deg);
            }
            &.down {
                bottom: 0;
                transform: rotate(90deg);
            }
        }
    }
    .feed-item-holder {
        flex-flow: row;
        flex: 1 1 100%;
        .feed-link {
            flex-flow: row;
        }
        .carousel-hover-title, .carousel-hover-date {
            display: none;
        }
        .wrapper {
            flex: 1 1 40%;
        }
        .carousel-vertical-text-part {
            flex: 1 1 60%;
            margin-left: 20px;
            overflow: hidden;
            display: flex;
            flex-flow: column;
            color: @text-color;
            text-shadow: none;
            .carousel-slide-header {
                p {
                    background: @carousel-verticalslide-header-background;
                    color: @link-color;
                    text-shadow: none;
                    padding-left: 0;
                    font-weight: 400;
                    .carousel-date {
                        color: @gray-light;
                    }
                }
            }
            .carousel-text {
                position: initial;
            }
        }
    }
}
