---
# Override any of the default search settings in local/config/finna/BlenderMappings.yaml
# by copying the full section from it to this file and modifying it here.
# Below is a commented-out example.

"@parent_yaml": "../finna/BlenderMappings.yaml"

#Sorting:
#  Fields:
#    author:
#      Mappings:
#        Primo: screator
#        Solr: author
#        solrAuth: heading
