[Parent_Config]
relative_path = "../finna/contentsecuritypolicy.ini"
merge_array_settings = true

[Directives]
;script-src[] = "https://trusted.service.something"

; Boost.ai (universitiesfront)
;connect-src[] = "https://universitiesfront.boost.ai"
;connect-src[] = "https://static.aim.front.ai"

; Dream Broker
;frame-src[] = "https://dreambroker.com"

; Elisa Chat / LiveChat
;connect-src[] = "https://zefzhat-eu.appspot.com"
;connect-src[] = "https://stats.livezhat.com"

; Facebook
;script-src[] = "https://*.facebook.net/"
;connect-src[] = "https://*.facebook.net/"
;frame-src[] = "https://*.facebook.com/"

; Giosg
;connect-src[] = "https://*.giosg.com"
;connect-src[] = "https://*.giosgusercontent.com"
;frame-src[] = "https://*.giosg.com"
;frame-src[] = "https://*.giosgusercontent.com"
;script-src[] = "https://*.giosg.com"
; HUOM. Seuraavat asetukset, jotka giosg vaatii, käytännössä pilaavat CSP:n suurelta
; osin:
;script-src[] = "'unsafe-inline'"
;script-src[] = "'unsafe-eval'"

; Kirjastokartta:
;connect-src[] = "https://kirjastokartta.kansalliskirjasto.fi"
;frame-src[] = "https://kirjastokartta.kansalliskirjasto.fi"

; Kirjastot.fi:n rajapinta:
;script-src[] = "https://api.kirjastot.fi"
;connect-src[] = "https://api.kirjastot.fi"

; Kirjastot.fi:n upokkeet:
;frame-src[] = "https://*.kirjastot.fi"

; olli-suutari-jkl/jyvaskyla.fi.kirjasto
;frame-src[] = "https://olli-suutari-jkl.github.io"

; Smilee
;script-src[] = "'unsafe-eval'"
;script-src[] = "https://cdn.smilee.io"
;script-src[] = "https://saas.smilee.fi"
;connect-src[] = "https://saas.smilee.fi"

; Tawk
;script-src[] = "https://va.tawk.to"
;connect-src[] = "https://*.tawk.to"
;connect-src[] = "wss://*.tawk.to"

; Vimeo
;frame-src[] = "https://player.vimeo.com"

; Youtube
;frame-src[] = "https://www.youtube.com"

; Zendesk chat (Zopim) - https://developer.zendesk.com/documentation/classic-web-widget-sdks/web-widget/integrating-with-google/csp/
;connect-src[] = "https://ekr.zdassets.com"
;connect-src[] = "wss://widget-mediator.zopim.com"
;; Vaihtoehto 1 - uusi lataustapa, ks. yllämainittu osoite:
;script-src[] = "'strict-dynamic'"
;script-src[] = "'unsafe-eval'"
;; Vaihtoehto 2 - vanha lataustapa:
;script-src[] = "https://static.zdassets.com"
;script-src[] = "https://ekr.zdassets.com"
;script-src[] = "https://*.zendesk.com"
;script-src[] = "https://*.zopim.com"
;script-src[] = "wss://*.zendesk.com"
;script-src[] = "wss://*.zopim.com"
;script-src[] = "'unsafe-eval'"
;connect-src[] = "https://ekr.zdassets.com"
;connect-src[] = "wss://widget-mediator.zopim.com"

