; Inherit main configuration
[Parent_Config]
relative_path = ../finna/searchbox.ini
override_full_sections = "CombinedHandlers"

; Add any overrides below
; Uncomment one or more of the lines below to enable virtual on-screen keyboard support
; using the specified layout(s).
[VirtualKeyboard]
layouts[] = "arabic"
;layouts[] = "assamese"
;layouts[] = "balochi"
;layouts[] = "belarusian"
;layouts[] = "bengali"
;layouts[] = "brazilian"
;layouts[] = "burmese"
;layouts[] = "chinese"
;layouts[] = "czech"
;layouts[] = "english"
;layouts[] = "farsi"
;layouts[] = "french"
;layouts[] = "georgian"
;layouts[] = "german"
;layouts[] = "gilaki"
;layouts[] = "greek"
;layouts[] = "hebrew"
;layouts[] = "hindi"
;layouts[] = "hungarian"
;layouts[] = "italian"
;layouts[] = "japanese"
;layouts[] = "kannada"
;layouts[] = "korean"
;layouts[] = "kurdish"
;layouts[] = "malayalm"
;layouts[] = "nigerian"
;layouts[] = "nko"
;layouts[] = "norwegian"
;layouts[] = "odia"
;layouts[] = "polish"
;layouts[] = "punjabi"
;layouts[] = "russian"
;layouts[] = "russianOld"
;layouts[] = "sindhi"
;layouts[] = "spanish"
;layouts[] = "swedish"
;layouts[] = "telugu"
;layouts[] = "thai"
;layouts[] = "turkish"
layouts[] = "ukrainian"
;layouts[] = "urdu"
;layouts[] = "urduStandard"
;layouts[] = "uyghur"
