# This file configures the ShortcutBar plugin, which renders the shortcut bar element.
# The shortcut bar will be called in the template by the specified name within these settings.
#
# The format of this configuration is as follows:
#
# Array keys for every group are:
#   - title: Title of the shortcut bar (optional)
#   - headingLevel: The level of the heading element <h?> (optional)
#   - attributes: additional attributes for the shortcut bar container's <div> tag (optional)
#   - items: items shown in the shortcut bar - required
#
# Array keys for every shortcut bar item could be:
#   - type: 'link' or 'dropdown' for dropdown menu button, 'link' by default
#   - label: translation key or item label
#   - url: href of the link <a> element
#   - route: href of the link <a> element, internal route
#   - icon: icon used for the item, using the icon helper
#   - iconElement: icon used for the item, using the <i> element
#   - dropdownItems: items to be shown in a dropdown menu. Dropdown menu items can use the same keys as items, excluding type.
#

"@parent_yaml": false

ShortcutBar:
  title:
  headingLevel:
  attributes:
    class: browse-bar-scrollable-list
  items:
    - label: 'About'
      route: content-page
      routeParams:
        page: about
    - label: 'Feedback'
      route: feedback-home
    - url: Search/Results?lookfor=&amp;type=AllFields&amp;filter%5B%5D=~format_ext_str_mv%3A%220%2FImage%2F%22&amp;filter%5B%5D=free_online_boolean%3A1
      label: format_Image_plural
      icon: image
    - url: Search/Results?type=AllFields&amp;filter%5B%5D=~format%3A%220%2FPhysicalObject%2F%22&amp;filter%5B%5D=free_online_boolean%3A1
      label: format_PhysicalObject_plural
      iconElement: iconlabel format-1physicalobjectother
    - url: Search/Results?type=AllFields&amp;filter%5B%5D=~format%3A%220%2FVideo%2F%22
      label: format_Video_plural
      iconElement: fa fa-square-caret-right
    - type: dropdown
      label: other_records
      iconElement: fa fa-box-open
      dropdownItems:
        - label: format_Document_plural
          url: Search/Results?type=AllFields&filter[]=~format%3A"0%2FDocument%2F"
          iconElement: fa fa-file-lines
        - label: format_Book/Book_plural
          url: Search/Results?type=AllFields&amp;filter%5B%5D=~format%3A%220%2FBook%2F%22
          icon: book
