.finna-toggletip {
  .finna-toggletip__button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;

    .finna-toggletip__icon {
      cursor: pointer;
    }

    .finna-toggletip__label:hover {
      text-decoration: $link-hover-decoration;
    }
  }

  .finna-toggletip__bubble {
    &:not(.show) {
      display: none;
    }

    .finna-toggletip__bubble--inner {
      display: block;
      cursor: auto;
    }
  }
}
