//== Bulk actions buttons

.bulkActionButtons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: (0.5 * $spacer) 0px;
  font-size: 0.9em;
  > * {
    margin-right: 0.3em;
  }
  .checkbox,
  label {
    display: inline-block;
  }
  .checkbox {
    padding-left: 0px;
    input[type="checkbox"] {
      float: none;
    }
  }
  label {
    display: flex;
    align-items: center;
    input {
      margin-right: 0.2em
    }
  }
  .btn-group {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    .btn {
      border: 1px solid $border-color;
      background: $light;
      color: $text-color;
      padding: $padding-small-vertical $padding-base-horizontal;
      font-size: 0.9em;
      &:hover, &:focus {
        color: $light;
        background: $dark;
        text-decoration: none;
        transition: background 0.2s linear;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .bulkActionButtons .btn-group .btn {
    padding: 0.4em;
  }
}
