.template-dir-collection {
  .mobile-navigation {
    bottom: 44px;
  }
  .record-accordions.record-tabs {
    padding: 0px;
    width: 100%;
  }
}

.collection-list-controls {
  display: flex;
  margin-bottom: $spacer;
  .sort-and-view-buttons {
    display: flex;
    flex-direction: row;
    gap: (0.5 * $spacer);
    font-size: 0.9em;
  }
  .filter-input {
    flex-grow: 1;
    white-space: nowrap;
    .input-group {
      display: flex;
      align-items: normal;
      width: 250px;
      height: 40px;
      #keywordFilter_lookfor {
        height: auto;
        border-radius: $border-radius-small;
      }
      button.btn-primary {
        display: flex;
        align-items: center;
        font-weight: $btn-font-weight;
      }
    }
  }
  .view-option-container, .sort-option-container {
    margin: auto 0px auto 5px;
  }
}
@include media-breakpoint-down(sm) {
  .template-dir-collection {
    .result .list-view a.no-image {
      display: none;
    }
  }
}
@include media-breakpoint-down(xs) {
  .collection-list-controls {
    flex-direction: column;
    .sort-and-view-buttons {
      margin-top: 10px;
    }
  }
}
@include media-breakpoint-up(xs) {
  .collection-list-controls .dropdown-menu {
    right: 0;
    left: auto;
  }
}
