.finna-dateinput {
    .input-group {
        .input-field {
            width: auto;
        }
        .datepicker-toggle {
            padding: $padding-base-vertical 6px;
            border-color: $input-border;
            border-width: 1px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .dateformat-hint {
        font-weight: normal;
    }
    .datepicker-dialog {
        display: none;
        background: #fff;
        padding: 10px;
        border: 1px solid #666;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        z-index: $zindex-datepicker;
        calendar-date {
            &::part(container) {
                gap: 0;
            }
            &::part(button) {
                background-color: transparent;
                border: none;
                border-radius: 0;
                margin: 0;
                padding: 0;
                text-align: inherit;
                font: inherit;
                font-size: 24px;
                color: $action-link-color;
            }
            &::part(button):focus-visible {
              outline: 2px solid $action-link-color;
            }
          }
        .btn-datepicker-close {
            display: flex;
            margin-left: auto;
            line-height: 1;
        }
        calendar-month {
            &::part(table) {
                font-size: 0.825em;
            }
            &::part(button):focus {
                background: var(--color-accent);
                color: var(--color-text-on-accent);
                outline: 1px solid var(--color-text-on-accent);
                outline-offset: -2px;
              }
            &::part(today) {
                border-bottom: 1px solid var(--color-accent);
              }
        }
    }
    .datepicker-dialog[data-show] {
        display: block;
      }
}
