footer {
  padding: 1em 0em;
  background: $footer-background;
  a {
    line-height: 1em;
  }
  hr {
    border-top: none;
  }
  a,
  p {
    color: $footer-text-color;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
    font-size: $font-size-h4;
    color: $footer-text-color;
    font-weight: 600;
  }
  a:hover {
    color: $footer-text-color;
    text-decoration: underline;
  }
  li {
    margin-bottom: 0.7em;
    list-style-type: none;
  }
  img, img.powered-by-finna, img.vufind-logo {
    max-height: 65px;
  }
}
@include media-breakpoint-down(sm) {
  footer {
    padding-top: 2rem;
    padding-bottom: 6rem;
    text-align: center;
    hr {
      display: block;
      border-top: 1px solid $footer-text-color;
      opacity: 1;
    }
    ul {
      margin-bottom: 2.5em;
    }
  }
}
@include media-breakpoint-up(sm) {
  .footer-container {
    display: flex;
    gap: $grid-gutter-width;
    width: 100%;
  }
  .footer-column {
    flex: 0 1 100%;
  }
}
