form {
  .required-notice,
  .remember-me-info {
    font-size: $small-font-size;
    color: $text-muted;
  }
}
input, input.form-control {
  font-size: 16px; // avoid the automatic zoom-in on input fields
}

.form-control, .form-select {
  width: initial;
  max-width: 100%; // make sure dropdowns don't overflow elements
  padding: 0px 5px;
  vertical-align: middle !important;

  &::placeholder {
    color: $gray-light;
  }
  &[disabled],
  &[readonly],
  fieldset[disabled] {
    background-color: transparent;
  }

  &:invalid {
    box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.9);
  }
  // This is for IE. Keep separate from :invalid so that IE does not drop it
  &.invalid {
    box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.9);
  }
}

.form-inline {
  display: inline-block;
  .btn {
    margin-left: 1px;
  }
}
@include media-breakpoint-up(sm) {
  .form-inline {
    .form-control {
      width: auto;
    }
    .radio,
    .checkbox {
      padding-left: 0px;
    }
  }
}

// Alternate buttons
// --------------------------------------------------
.navbar-form .btn[type="submit"],
.searchForm .btn[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0px;
  color: $btn-primary-color;
  background: $btn-primary-bg;
  border-radius: $search-input-border-radius;
  transition: background 0.1s ease-in-out;
  &:hover {
    background: darken($btn-primary-bg, 10%);
  }
  .icon {
    font-size: 28px;
    color: $btn-primary-color;
    vertical-align: inherit;
    cursor: pointer;
  }
}
.searchHomeContent .btn-link {
  margin-top: 5px;
  font-size: 1.2em;
}

$search-input-padding: calc(#{$focus-ring-width} + 2px) !default; // Ensure the focus ring fits within the search form
.navbar-form,
.searchForm {
  display: flex;
  width: 100%;
  margin: 0px;
  background-color: $search-input-bg;
  border: $search-input-border;
  padding: $search-input-padding;
  border-radius: calc(#{$search-input-border-radius} + #{$search-input-padding} + #{$search-input-border-width});
  .form-control.search-query {
    flex: 1 1 auto;
    height: 48px;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    color: $search-input-color;
    background: transparent;
    border: none;
    border-radius: $search-input-border-radius;
    box-shadow: none;
    &:focus-visible {
      box-shadow: $focus-ring-box-shadow;
      outline: 0;
    }
  }
  /* --- Autocomplete and form adjust accordingly --- */
  &.input-field-only .form-control.search-query {
    width: 85%;
  }
  #searchForm-reset {
    margin: auto 0.5rem;
    color: $gray-light;
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  .btn {
    border-radius: 0;
  }
}
@include media-breakpoint-down(sm) {
  .navbar-form,
  .searchForm {
    .form-control.search-query {
      width: percentage(($finna-search-input-width - 0.06));
      font-size: 1.1em;
    }
    &.input-field-only .form-control.search-query {
      width: 80%;
    }
  }
}

.navbar-form .form-control.search-query {
  font-size: $font-size-large;
}

.dropdown.form-control.type-dropdown {
  display: inline-block;
  height: 48px;
  margin: auto;
  color: $dark;
  background: transparent;
  border: none;
  box-shadow: none;
  .dropdown-toggle {
    color: $dropdown-link-color;
    display: inline-flex;
    align-content: center;
    justify-content: end;
    height: inherit;
    min-width: 110px;
    padding: 0.5rem 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    border-radius: $search-input-border-radius;
    text-decoration: none;
    &:hover {
      span:first-child {
        text-decoration: underline;
      }
      .icon {
        text-decoration: none;
      }
    }
  }
  li {
    min-width: 110px;
    color: $text-color;
    text-align: left;
  }
}

.multiselect-container {
  @extend .dropdown-menu;
  z-index: 1030;
}

button.multiselect {
  height: auto;
  min-height: 33px;
  text-align: left;
}

.radio,
.checkbox {
  position: inherit;
  padding-left: 10px;
}

.template-dir-feedback .template-name-form form,
.modal-dialog .feedback-content form,
.modal-dialog form.dynamic-form {
  .group-url {
    margin-bottom: 2rem;
  }
  .form-info {
    margin: 1.5rem 0;
    font-weight: initial;
  }

  .required-notice {
    font-size: $small-font-size;
    color: $text-muted;
  }

  input[type=radio] {
    position: absolute;
    height: 1em;
    margin-left: -20px;
  }

  .form-group {
    &.checkbox,
    &.radio {
      padding-left: 0;
      label.form-label, label.control-label {
        padding-left: 0;
        margin-bottom: 5px;
        font-weight: 700;
      }
      label {
        display: table;
        margin: 7px 0;
        input {
          margin-top: 3px;
          margin-right: 10px;
        }
      }
    }
    &.checkbox label input {
      display: inline-block;
      height: 1em;
      margin-top: -1px;
    }
  }
}
