/* ------ GRID VIEW ------ */
.search-grid {
  display: flex;
  padding-top: 0.7em;
  flex-wrap: wrap;
  overflow: hidden;
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

.grid.result {
  display: flex;
  width: 33%;
  padding: 0px 5px 10px;
  margin-bottom: 0px;
  border-bottom: none;
  &:focus {
    outline: none;
  }
  &#result0,
  :first-child {
    border-top: none;
  }
}
@include media-breakpoint-down(md) {
  .grid.result {
    width: 50%;
  }
}
@include media-breakpoint-down(sm) {
  .grid.result {
    min-height: 250px;
  }
}
@include media-breakpoint-down(xs) {
  .grid.result {
    width: 100%;
  }
}

.grid-result {
  width: 100%;
  .grid-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .grid-title {
    padding-top: 0.3em;
    overflow: hidden;
    background: transparent;
    h2.title {
      // Position: relative makes ellipsis work with absolute elements in Chrome
      position: relative;
      font-size: $font-size-base;
      font-weight: 600;
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .dateyeartype {
      display: inline;
      font-size: $font-size-small;
      p {
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .record-labels .label {
        margin-right: 0px;
      }
    }
    .save-record-container {
      display: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      .save-record {
        float: none;
        font-size: inherit;
      }
    }
  }
  .status {
    display: inline;
    .label {
      display: inline-block;
      width: 8px;
      height: 8px;
      padding: 0px;
      white-space: normal;
      text-indent: -9999em;
      border-radius: 50%;
    }
  }
}

.grid-result {
  .grid-image {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-basis: 250px;
    height: 250px;
    overflow: hidden;
    background-color: $gray-ultralight;
    border-radius: $border-radius-small;
    .record-image-container {
      position: initial;
      display: flex;
      flex: 1 1;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-bottom: 0px;
      .recordcover-holder {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .recordcover-container {
          display: flex;
          height: 100%;
          .image-popup-trigger {
            img.recordcover {
              width: 100%;
              height: 100%;
              margin: auto;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .grid-result {
    .record-image-container {
      .recordcover {
        width: 100%;
      }
      .iconlabel:before {
        display: block;
      }
    }
  }
}

.grid.result.no-image {
  .grid-body {
    position: relative;
  }
  .recordcover-holder:before {
    position: absolute;
    top: 60%;
    left: 0px;
    width: 100%;
    font-size: 0.9em;
    color: $gray-light;
    content: attr(data-format);
  }
  .recordcover-holder:after {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: .65em;
    color:  $gray-mid-light;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: attr(data-noimage);
  }
  .iconlabel:before {
    top: 50%;
    color: $dark;
  }
}
