.finna-popup {
    width: 100%;
    @media (min-width: $screen-sm-min) {
        &.marc {
            max-width: 800px;
        }
    }

    &.videoplayer-only {
        background: initial;
        box-shadow: none;
    }
    &.backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20000;
        background-color: rgba(1,1,1,0.6);
        padding: 12px;
        overflow: hidden auto;

        @media (min-width: $screen-sm-min) {
            padding: 40px;
        }
    }
    >.large-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .fa-spinner::before {
            font-size: 80px;
            color: white;
            text-shadow: 2px 2px #565656;
        }
    }
    &.content {
        width: 100%;
        @media (min-width: $screen-sm-min) {
            height: 100%;
        }
        @media (max-width: $screen-xs-max) {
            padding: 0;
        }
    }
    &.close-button {
        position: absolute;
        z-index: 1500;
        width: 30px;
        height: 24px;
        line-height: 16px;
        appearance: none;
        -webkit-appearance: none;
        top: 0;
        right: 0;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 24px;
        text-shadow: 2px 2px 2px black;

        @media (min-width: $screen-sm-min) {
            right: -30px;
        }
    }

    .popup-arrow {
        font-size: 36px;
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
        z-index: 1500;
        top: 45vh;
        @media (min-width: $screen-sm-min) {
            width: 48px;
            height: 96px;
        }
        .icon {
            cursor: pointer;
            color: #fff;
            text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
        }
        @media (max-width: $screen-xs-max) {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            font-size: 40px;
            &.popup-left-arrow {
                float: left;
            }
            &.popup-right-arrow {
                float: right;
            }
        }
        &.popup-left-arrow {
            @media (min-width: $screen-sm-min) {
                left: 0px;
            }
        }
        &.popup-right-arrow {
            @media (min-width: $screen-sm-min) {
                right: 0px;
            }
        }
    }
}

.imagepopup-zoom-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    z-index: 1000;
    background: fadeout($gray, 40%);
    color: white;
    border-radius: 5px;
    @media (min-width: $screen-sm-min) {
        width: 48px;
    }
    .zoom-button {
        display: inline-block;
        height: 40px;
        width: 40px;
        text-align: center;
        vertical-align: top;
        line-height: 36px;
        padding: 0;
        appearance: none;
        font-size: $font-size-icon-large;
        background-color: transparent;
        border: none;
        cursor: pointer;
        box-sizing: padding-box;
        border-bottom: 2px solid $gray-light;
        @media (min-width: $screen-sm-min) {
            height: 48px;
            width: 48px;
            font-size: 24px;
        }
        &:last-child {
            border-bottom: none;
        }
        i {
            cursor: pointer;
        }
        &.inactive {
            color: $gray-lighter;
            cursor: not-allowed;
            i {
                cursor: not-allowed;
            }
        }
    }
}
.next-image {
    position: absolute;
    z-index: 600;
    appearance: none;
    border: none;
    background-color: rgba(138, 138, 138, 0.5);
    align-self: center;
    font-size: 22px;
    border-radius: 2px;
    padding: 0 4px;
    color: white;
    margin: 0 4px;
    height: 40px;
    display: flex;
    align-items: center;

    .paginator-canvas & {
        background-color: rgba(138, 138, 138, 0.9);
    }
    .icon {
        text-shadow: 1px 1px 2px #555;
        cursor: pointer;
    }
    &:disabled {
        color: lighten($gray-lighter, 5%);
        cursor: not-allowed;
        .icon {
            cursor: not-allowed;
        }
    }
    &.left {
        left: 0%;
    }
    &.right {
        right: 0%;
    }
}
.imagepopup-holder {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-height: 400px;

    @media (max-width: $screen-xs-max) {
        flex-flow: column;
    }

    .imagepopup-container {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
        flex-flow: column wrap;
        width: 100%;
        min-height: 400px;

        .paginator-canvas {
            display: flex;
            justify-content: space-around;
            flex: 20 1 0;
            min-height: 50%;
            position: relative;
            @media (max-width: $screen-xs-max) {
                height: 324px;
            }
            img {
                max-height: 100%;
                display: block;
                object-fit: contain;
            }
            .leaflet-map-image {
                background-color: #424242;
                cursor: grab;
            }
            .video-popup {
                height: 100% !important;
                margin: 0;
                max-height: initial;
                max-width: initial;
                .video-js {
                    width: 100%;
                    height: 100%;
                }
            }

            .leaflet-map-image, .video-popup {
                width: 100% !important;
            }
            .non-zoomable {
                padding: 6px;
                max-height: 100%;
                min-height: 300px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .finna-popup.marc & {
                    align-items: start;
                }
                &.no-image {
                    position: relative;

                    @media (min-width: $screen-sm) {
                        height: initial;
                    }
                    .iconlabel::before {
                        display: block;
                        position: absolute;
                        top: 10%;
                        left: 0;
                        color: #d1d1d1;
                        font-size: 3.5em;

                        @media (max-width: $screen-xs-max) {
                            top: 50%;
                        }
                    }
                    img {
                        background-color: white;
                        width: 100%;
                    }
                }
            }
            .leaflet-bottom.leaflet-right {
                display: none;
            }
            .leaflet-image-loading {
                z-index: 401;
                height: 4px;
                width: 100%;
                position: absolute;
                bottom: 0;
                background-image:
                    repeating-linear-gradient(
                        -45deg,
                        #adadad,
                        #adadad 11px,
                        #eee 10px,
                        #eee 20px
                    );
                animation: move 1s linear infinite;
                background-size: 28px 28px;
                &:not(.loading) {
                    display: none;
                }
                @keyframes move {
                    0% {
                        background-position: 0 0;
                    }
                    100% {
                        background-position: 28px 0;
                    }
                }
            }
        }
    }
    .image-information-holder {
        flex: 1 1 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        overflow-y: auto;
        width: 100%;

        @media (min-width: $screen-sm-min) {
            max-width: 400px;
            border-left: 1px solid #ccc;
        }
        .popup-link-buttons {
            margin: 2px 0px;
            .videourl {
                text-transform: uppercase;
                font-weight: bold;
                margin: 2px 0;
            }
        }
        .collapse-content-holder {
            flex: 1;

            @media (max-width: $screen-xs-max) {
                order: 2;
            }
            .large-spinner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i::before {
                    font-size: 64px;
                }
            }
        }
        .record-informations {
            text-align: left;
            width: 100%;
            color: #333333;
            font-size: 1em;
            letter-spacing: .5px;
            font-weight: 400;
            padding: 6px;
            @media (max-width: $screen-xs-max) {
                order: 1;
            }
        }

        .author-and-dates, .building {
            font-size: 12px;
            letter-spacing: 0.5px;
            font-weight: 500;
        }

        .author-and-dates p {
            margin: 0;
        }

        &.marc .building {
            display:none;
        }

        h3.title {
            padding: 0px 0px 0px;
            letter-spacing: 0.2px;
            margin-top: 0px;
            margin-bottom: 0;
        }
        .result-other-titles {
            margin-top: 3px;
            margin-bottom: 6px;
        }
        .building {
            margin-top: 0;
        }

        .summary {
            margin: 10px 0px;
            color: rgb(90, 90, 90);
            min-width: 200px;
            line-height: 1.6em;
            &.loading {
                max-height: 100px;
                overflow: hidden;
            }
        }
        .popup-link-buttons {
            margin-bottom: 20px;
            i {
                margin-right: 2px;
            }
        }
        .record-link {
            margin-top: 20px;
        }
        .image-dimensions {
            color: $gray-light;
            font-size: .8em;
        }

        .image-info .record-index {
            display: none;
        }

        .image-rights {
            text-align: left;
            padding: 5px 0;
            margin-top: 10px;
            border-top: 1px solid  $gray-lighter;
            color: $text-color;
            margin-right: 0;

            .rights span {
                font-weight: bold;
            }
            > div {
                text-align: left;
            }
            i {
                padding-right: 2px;
            }
            .less-link {
                display: none;
                margin-left: 0;
                margin-top: 10px;
                clear: both;
                a:after {
                    background-position: 2px -2270px;
                }
            }
        }
    }
}

.image-rights-default {
    font-size: 11px;
    margin: 5px 0 0;
}

.cc-rights {
    background-color: $gray-ultralight;
    display: inline-block;
    font-weight: 500;
    margin: 10px 10px 10px 0;
    padding: 10px;
    text-align: center;
    white-space: normal;
    overflow-wrap: anywhere;
    &:hover {
        color: inherit;
    }
    span {
        text-align: left;
        display: inline-block;
    }
    a span {
        text-align: center;
        display: inline;
    }
}

.cc-rights img.creative-commons {
    height: 20px;
    width: 20px;
}

.cc-rights a {
    color: $brand-primary;
}

.copyright-meaning {
    display: inline-block;
}

@media(max-width:$screen-xs-max) {
    .imagepopup-holder {
        h3.title {
            border:none;
        }
        .loaded.image .noimage {
            display: inline-block;
            flex: 1;
            height: 100%;
            text-align: center;
            top: 15px;
            left: auto;
        }
        .content {
            width: 100%;
            text-align: center;
            padding: 10px 0px 0px;
            max-width: 800px;
        }
        .popup-link-buttons {
            padding-left: 20px;
        }
        .content h3 {
            padding: 0px 10px;
        }
        .summary {
            padding: 5px 20px 0px;
            text-align: left;
        }
        .image-rights {
            padding: 10px 0px;
            margin: 0px 20px 10px;
        }
        .image-details {
            text-align: left;
        }
    }
}

.finna-popup {
    &.modal-holder {
        height: 100%;
        position: relative;
        z-index: 5;

        &.canvas-player, &.video-player {
            height: 100%;
        }
        &.marc {
            margin: auto;
        }
        &.finna-iframe .player {
            width: 100%;
            height: 100%;
        }
        @media (min-width: $screen-sm-min) {
            height: 100%;
        }
    }
    &.content {
        .finna-image-pagination {
            background-color: #383838;
            padding: 4px;
            flex: 1 1 0;
            width: 100%;
            flex: 0 0 auto;
            .finna-element-track {
                a {
                    background-color: #efefefcc;
                    @media (min-width: $screen-sm-min) {
                        height: 96px;
                        max-width: 96px;
                    }
                }
            }
            .paginator-info {
                display: none;
            }
        }
        &.nonzoomable {
            .finna-image-pagination {
                background-color: transparent;
                button:not(:disabled) {
                    color: black;
                }
                a {
                    background-color: transparent;
                }
            }
        }

    }
}

.recordcover-container {
    min-width: 60px;
    .image-popup-trigger {
        display: flex;
        width: 100%;
        justify-content: center;
        aspect-ratio: 1/1;
        .paginator-info {
            position: absolute;
            right: 10px;
            top: 0px;
            color: black;
            z-index: 6;
            .image-index {
                background-color: #efefefcc;
                padding: 2px;
            }
        }
        .iconlabel {
            display: none;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        img {
            object-fit: contain;
            padding:5px;
            max-height: 600px;
        }
        &.no-image {
            ::before {
                font-size: 39px;
                color: $gray-lighter;
                padding: 0;
                @media (max-width:$screen-sm-max) {
                    font-size: 26px;
                }
            }
            img {
                display: none;
            }
            .iconlabel {
                display: flex;
                margin-right: 0;
                box-shadow: 0px 0px 0px 2px $gray-lighter inset;
            }
            &.disable {
                cursor: default;
            }
            .model-3d {
                display: none;
            }
        }
    }
}
.result .image-popup-trigger .paginator-info {
    right: initial;
    left: 35px;
}
.result .recordcover-holder .next-image {
    display: none;
}
.recordcover-holder {
    position: relative;
}
.grid-image .image-popup-trigger.no-image .iconlabel {
    box-shadow: initial;
}
.recordcovers {
    z-index: 3;
    align-items: center;
    position: relative;
    &.paginated {
        display: flex;
        > button {
                appearance: none;
                height: 44px;
                border: none;
                background-color: transparent;
                padding: 0 2px;
                flex: 0 0 0;
            i {
                cursor: pointer;
                font-size: 24px;
            }
            .finna-popup &:not(:disabled){
                color: white;
            }
            &:disabled {
                background-color: #d6d6d600;
                color: transparent;
                i {
                    cursor: not-allowed;
                }
            }
        }
        .track-holder {
            display: inline-block;
            flex: 1 1 auto;
            .finna-element-track {
                max-height: 100%;
                touch-action: none;
                display: flex;
                flex-flow: column;
                align-items: center;
                width: 100%;
                min-width: 100%;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    a {
                        background-color: #efefefcc;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 64px;
                        overflow: hidden;
                        margin: 2px 4px;
                        padding: 2px;
                        flex: 0 1 64px;
                        span.model-3d-icon {
                            color: #121212;
                            font-size: 24px;
                            font-style: initial;
                        }
                        &.current {
                            border: 0.2em solid $brand-primary;
                        }
                        &.truncate-change {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        &.mini-paginator {
            position: absolute;
            left: 0;
            padding: 0;
            top: 0;
            justify-content: start;
            button {
                background-color: #efefefcc;
                margin: 0 1px;
                padding: 0 4px;
                height: 24px;
                .icon {
                    font-size: 10px;
                }
                &:disabled {
                    color: lighten($gray-light, 30%);
                }
            }
            .track-holder {
                display: none;
            }
        }
    }
}
.recordcovers-more {
    display: flex;
    align-items: center;
    .show-more-images, .show-less-images {
        cursor: pointer;
        font-weight: 600;
        text-transform: uppercase;
        font-size: .9em;
        margin: 5px 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }
    button {
        flex: 1;
        appearance: none;
        border: none;
        i {
            cursor: pointer;
        }
    }
    button:disabled i {
        cursor: initial;
    }
}
