@use "sass:color";

.modal-content {
  & .comment-inappropriate-form {
    .form-control {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}

.modal-content .close {
  color: $modal-header-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 2.5rem;
  min-width: 2.5rem;
  font-size: 2rem;
  right: 0.75rem;
  top: 0.75rem;
  position: absolute;
  z-index: 2;
  background: none;
  border-radius: $border-radius-base;
  &:hover {
    color: color.mix($modal-header-color, contrast($modal-header-color), 5%);;
    background: color.mix($modal-header-background, contrast($modal-header-background), 5%);
  }
}

.modal-body {
  overflow: hidden;

  & > h1, & > h2 {
    background: $modal-header-background;
    color: $modal-header-color;
    font-size: $font-size-h4;
    font-weight: 500;
    line-height: $modal-title-line-height;
    border-top-left-radius: $modal-content-inner-border-radius;
    border-top-right-radius: $modal-content-inner-border-radius;
    border-bottom: 1px solid $modal-header-border-color;
    margin: -$modal-inner-padding;
    margin-bottom: (0.5 * $spacer);
    padding: $modal-title-padding;
    // Account for close button
    padding-right: 45px;
    min-height: $modal-header-padding-y * $modal-title-line-height;
  }
  & .alert-success {
    margin-top: $modal-title-padding;
  }
  .lightbox-image {
    display: flex;
    justify-content: center;
  }
}

#modal .cart-controls .btn { margin-bottom: 4px; }
#modal .cart-controls .checkbox { padding-bottom: 1rem; }
#modal .form-inline .checkbox fieldset { display: inline-block; }
#modal .cart-controls ~ hr { margin-top: 0; margin-bottom: 0; }
.lightbox-scroll { overflow-y: auto; }

// Loading spinner
#modal .loading-overlay {
  @include loading-overlay();
}

// Utility classes
.lightbox-only { display: none; }
#modal .lightbox-only { display: initial; }
