@include media-breakpoint-down(md) {
  .template-name-mylist,
  .template-name-displaylist {
    &.prevent-scroll {
      overflow: hidden;
    }
  }
}

.mylist-header {
  width: 100%;
  .alert {
    margin-top: 1em;
  }
}

.record-container.myresearch-row {
  padding: 0.7em;
  margin: 0px;
}

.template-name-mylist {
  .delete-list .dropdown-menu {
    z-index: $zindex-dropdown;
  }
}

// Mylist mobile navigation

@include media-breakpoint-down(md) {
  .sidebar.open {
    margin-top: 0px;
  }
}

.mylist-bar,
.reservationlist-bar {
  > .dropdown-menu {
    position: relative;
    top: initial;
    left: initial;
    padding: 0px;
    border: none;
    border-radius: 0px;
    @include box-shadow(none);
    .active a {
      font-weight: 600;
      color: $dropdown-link-color;
      text-decoration: none;
      background-color: $light;
    }
    > li {
      max-width: none;
      border: none;
      > a {
        padding: $padding-small-vertical $padding-large-horizontal;
        &.active {
          font-weight: 700;
          color: $dropdown-link-color;
          background-color: $light;
        }
      }
      .favorite-list-holder {
        height: 25px;
        line-height: 25px;
        .favorite-list-title {
          max-width: 60%;
          margin-right: 0.3em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

        }
      }
    }
  }
}

.mylist-bar {
  .list-visibility {
    padding: 0 $padding-large-horizontal $padding-large-vertical $padding-large-horizontal;
    background-color: $light;
    div:first-of-type {
      display: flex;
      gap: 0.7em;
    }
    .list-url {
      font-weight: 700;
      word-break: break-word;
      .feed {
        display: inline-block;
        font-size: 1.2em;
        color: initial;
      }
    }
    a {
      padding: 0.2em;
    }
  }
  .vc-confirm-button > a {
    font-size: 0.9em;
  }
  .add-new-list-holder {
    padding: $padding-large-vertical $padding-large-horizontal;
    margin-top: (0.25 * $spacer);
    margin-bottom: (0.5 * $spacer);
    .add-new-list {
      display: -webkit-flex;
      display: flex;
      border: 1px solid $border-color;
      border-radius: $input-border-radius;
      input {
        width: 100%;
        border: none;
      }
      #add-new-list-item-btn {
        padding: 0.3em 0.6em;
        border: none;
        &:not(:hover) {
          background: none;
        }
        .list-add-icon {
          color: $action-link-color;
          text-align: center;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .mylist-bar {
    .add-new-list-holder .add-new-list {
      margin-bottom: 2em;
      input {
        font-size: 1.15em;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .mylist-bar {
    .list-visibility {
      font-size: $font-size-small;
    }
  }
}

// List info, toolbar and functions

.list-public-indicator {
  padding-left: 0.3em;
}

.mylist-controls {
  .control-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
@include media-breakpoint-down(md) {
  .mylist-controls {
    .sort-option-container {
      a.dropdown-toggle {
        max-width: max-content;
        white-space: initial;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .mylist-bar.mobile-sidebar-container {
    .mobile-navigation-header-container {
      border-bottom: $sidebar-border;
      .mobile-navigation-header {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }
}

.btn-sort-order {
  padding: 0.4em;
}

.own-favorite-list-button-area {
  width: 100%;
  margin-bottom: 0.7em;
}

.sortable-favorite-list {
  li {
    padding: 0.3em 2em 0.3em 0.7em;
    margin-top: 0.4em;
    list-style-position: inside;
    list-style-type: decimal;
    background: $list-group-bg;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    &:hover {
      cursor: move;
    }
    h4 {
      margin: 0px;
      font-size: $font-size-base;
    }
    p {
      margin-top: 0.2em;
      margin-bottom: 0px;
    }
    .sort-icon {
      position: absolute;
      right: 2em;
      font-size: 1.2em;
    }
  }
}
@include media-breakpoint-down(sm) {
  .sortable-favorite-list {
    margin-right: 0.7em;
    margin-left: 0.3em;
  }
}

// MyResearch bulkActionButtons
.bulk-action-buttons-row {
  margin-left: 0.7em;
  border-bottom: 1px solid $gray-lighter;
  .bulk-action-buttons-col {
    padding: 0.8em 0em;
    .mylist-functions.btn-group {
      text-align: right;
      padding-left: 1px;
      padding-right: 1px;
      button {
        white-space: nowrap;
      }
      #button_email {
        border-radius: 4px 0px 0px 4px;
      }
      #add-to-list {
        text-align: left;
        box-shadow: none;
      }
    }
  }
  .selection-controls-bar {
    padding: 0.3em 0em;
    li {
      display: inline-block;
      &.bulk-checkbox {
        padding-inline-end: 1rem;
      }
    }
    // Like .bulkActionButtons .btn-group .btn
    .clear-selection {
      @extend .btn, .btn-outline-dark;
      background: $light;
      font-size: 0.9em;
      padding: $padding-small-vertical $padding-base-horizontal;
    }
  }
}
@include media-breakpoint-down(sm) {
  .bulk-action-buttons-row {
    @include clearfix;
  }
}

// JS editables

.useraccount-header .list-title {
  font-size: $font-size-h2;
  margin-bottom: 0px;
  margin-top: 0px;
  span {
    display: inline;
  }
  .icon.list-title-edit {
    margin-top: 5px;
  }
  &.no-edit {
    border: 0;
    margin-top: 5px;
    padding-left: 0px;
    &:hover {
      border: 0;
    }
  }
}

.list-title,
.add-new-list {
  border: 1px solid transparent;
  display: flex;
  padding: 5px;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  width: 100%;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $gray-lighter;
    .icon {
      transition: all 0.2s linear;
      color: $gray;
    }
  }
  .icon {
    color: $gray-light;
    cursor: pointer;
  }
  .js-list-title {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    padding-right: 25px;
    input,
    textarea {
      &:focus,
      &:active {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
}
.list-title.disable {
  &:hover,
  &:active,
  &:focus {
    border: 1px solid transparent;
    cursor: initial;
  }
}

.myresearch-notes {
  clear: both;
  margin-top: 0.7em;
  .resource-note {
    margin-left: -0.4em;
  }
  a,
  i {
    color: $gray-light;
  }
}

.list-description,
.public-list-desc,
.myresearch-notes,
.template-dir-list .notes,
.public-list-embed .notes {
  .truncate-field.truncate-done {
    div:first-child {
      padding-top: 0.3em;
    }
  }
  .more-link,
  .less-link {
    margin-bottom: 1.1em;
  }
}

// Tags

@mixin list-tag() {
  font-size: 0.9em;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  padding: 0.1em 0.4em;
  border: 1px solid $gray-lighter;
  background: $gray-ultralight;
  border-radius: 5px;
}

.list-tags {
  margin-bottom: 0.7em;
  &.editable .view-tags {
    display: none;
  }
  &:not(.editable) {
    display: flex;
    align-items: center;
    .view-tags {
      flex-grow: 1;
      .tag {
        @include list-tag();
      }
    }
    .ui {
      display: none;
    }
    .edit-tags {
      flex-direction: row;
      border: none;
      .toggle {
        border: none;
      }
    }
  }
  .tags {
    margin-top: 0.5em;
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0px;
    }
  }
  .edit-tags {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border: 1px solid $gray-lighter;
    .info {
      font-weight: bold;
      color: $danger;
      .icon {
       font-size: $font-size-icon-large;
      }
    }
    .toggle {
      height: 100%;
      padding: 0.3em;
      padding-left: 0.5em;
      margin-top: -1px;
      margin-right: -1px;
      font-size: 0.9em;
      white-space: nowrap;
      border: 2px solid $action-link-color;
      .icon {
        margin-left: 0.4em;
        transform: rotate(90deg);
      }
    }
    .ui {
      flex-grow: 1;
      padding: 0.7em;
      .add-new {
        .new-tag,
        button {
          margin-bottom: 0.4em;
        }
        .new-tag {
          padding-left: 0.3em;
          margin-right: 0.5em;
        }
        button {
          display: inline-flex;
          align-items: center;
          line-height: 1em;
        }
      }
      .tags .tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.3em;
        padding: 0.1em 0.4em;
        margin-right: 0.4em;
        margin-bottom: 0.4em;
        color: $action-link-color;
        white-space: nowrap;
        background: transparent;
        border: 2px solid $action-link-color;
        border-radius: $border-radius-small;
        span {
          font-weight: bold;
        }
        button {
          padding: 0px;
          background: transparent;
          border: none;
          .icon {
            display: block;
            padding: 0.2em;
            font-size: $font-size-icon-tiny;
            color: $action-link-color;
            border: 2px solid $action-link-color;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .list-tags {
    .edit-tags {
      flex-direction: column;
      .toggle {
        align-self: flex-end;
        white-space: inherit;
      }
      .add-new .new-tag {
        width: 100%;
      }
    }
  }
}

.public-list-tags {
  display: flex;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  flex-wrap: wrap;
  .tag {
    @include list-tag();
  }
}
