.main-content:has(.myresearch-body) {
  padding-bottom: 2em;
}

.useraccount-row {
  margin: 0.4em 0em;
  font-weight: 600;
}

.useraccount-header {
  display: flex;
  justify-content: space-between;
  h2,
  h3 {
    line-height: $content-line-height-base;
    font-weight: 600;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
  }
  h2 {
    font-size:$font-size-h2;
  }
  h3 {
    font-size: $font-size-h4;
  }
}

// MyResearch toolbar

.my-research-content {
  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.3em;
    border-bottom: 1px solid $border-color;
    &.no-list-functions {
      align-items: center;
      justify-content: space-between;
      .myresearch-notification {
        height: fit-content;
        padding-left: 0px;
      }
    }
    .btn-finna-toolbar {
      margin: 0.2em 0em;
    }
    .btn-group {
      margin-right: 1.4em;
      .btn {
        margin-right: calc(var(--#{$prefix}border-width) + 1px);
        &:last-child {
          margin-right: 0px;
        }
      }
      &:last-child {
        margin-right: 0px;
      }
    }
    .checkbox-col {
      display: flex;
      align-items: baseline;
      .checkbox-container.mylist-select-all {
        margin-right: 1rem;
        line-height: $line-height-computed;
        white-space: nowrap;
        .checkbox {
          padding-left: 0px;
        }
      }
    }
    .list-functions {
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }
}
@include media-breakpoint-down(xs) {
  form#renewals,
  form#update_holds,
  form#purge_history {
    .toolbar {
      flex-direction: column-reverse;
    }
  }
}
@include media-breakpoint-down(sm) {
  .my-research-content {
    .toolbar {
      align-items: baseline;
      &.no-list-functions {
        flex-direction: column-reverse;
        align-items: flex-start;
        .myresearch-notification {
          margin-top: 0px;
        }
      }
      .btn-group {
        margin-right: 0.7em;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .my-research-content {
    .toolbar {
      margin-top: 0.3em;
      .btn-finna-toolbar {
        font-size: 0.9em;
      }
    }
  }
}

.toolbar-sticky-container {
  margin: 0px;
  .toolbar-sticky {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: $body-bg;
    &.isSticky {
      margin: 0px -15px;
      padding: 0px 15px;
    }
  }
}
@include media-breakpoint-down(md) {
  .toolbar-sticky-container {
    padding: 0px 15px;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    @include clearfix;
    .toolbar-sticky.isSticky {
      top: $navbar-height;
      box-shadow: 0 3px 3px rgba(0,0,0,0.3);
      .toolbar {
        border-bottom: none;
      }
    }
  }
}

// Menu style
.myresearch-menu,
#my-info-dropdown-menu {
  a.list-group-item {
    display: flex;
    justify-content: space-between;
    &.flex {
      display: flex;
    }
    &:hover, &:focus {
      text-decoration: none;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
    &.user-list-link .icon {
      margin-left: 0.5rem;
    }
    &.active {
      color: $body-bg;
      background-color: $primary;
    }
  }
}

.useraccount-confirm {
  max-width: 300px;
  > li {
    display: flex;
    padding: 0.7em;
    border-bottom: none;
    a {
      width: 80px;
      margin-right: 0.7em;
      text-align: center;
      color: $btn-primary-color;
      background: $btn-primary-bg;
      border-radius: $border-radius-base;
      &:hover {
        color: $btn-primary-color;
        background: darken($btn-primary-bg, 5%);
      }
    }
    .dropdown-header {
      padding: 0px;
      font-size: $font-size-base;
      white-space: initial;
    }
  }
  .useraccount-confirm-buttons {
    display: flex;
  }
}

// MyResearch sidebar
.useraccount-nav {
  z-index: 2;
  display: block;
  .status {
    margin-left: 0.4em;
  }
  &.list-group {
    border-radius: $border-radius-base;
  }
  li {
    float: left;
    width: 100%;
    border-top: 1px solid $gray-mid-light;
    border-bottom: 0px;
    &:first-child {
      border-top: none;
    }
    &.menu-header > h1 {
      display: block;
      font-size: $font-size-h4;
      font-weight: 600;
      text-transform: none;
    }
    li > a {
      padding-left: 1.4em;
    }
    a.list-group-item {
      padding: $padding-large-vertical $padding-base-horizontal;
      font-size: $font-size-base;
      margin-right: 0px;
      &:not(.collapsed) {
        > .icon.collapse-icon {
          transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
        }
      }
      .favorite-list-holder {
        font-size: $font-size-base;
      }
      &.menu-parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
          font-size: 0.8em;
        }
      }
    }
  }
  > li {
    &:first-child > h1 {
      padding: $padding-large-vertical $padding-base-horizontal;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      line-height: 1.5em;
    }
    &:last-child > a {
      border-bottom-left-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }
    &.active > a {
      background-color: $sidebar-active-background;
      color: $sidebar-active-color;
      font-weight: 700;
    }
  }
}
@include media-breakpoint-down(md) {
  .useraccount-nav li {
    border-top: none;
  }
}
@include media-breakpoint-up(md) {
  .useraccount-nav {
    margin-top: $spacer;
    border: $sidebar-border;
  }
  .useraccount-nav.move-list {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
  }
}
@include media-breakpoint-down(lg) {
  .useraccount-nav li {
    font-size: $font-size-base;
    a {
      padding: 0.65em;
    }
  }
}

// Status badges
.myresearch-menu,
#my-info-dropdown-menu {
  .status {
    .badge {
      height: 1.7em;
      padding: 0em 0.55em;
      margin: 0.05em 0.15em;
      color: var(--#{$prefix}body-color);
      background-color: var(--#{$prefix}body-bg);
      border: 1px solid $border-color;
      border-radius: $border-radius-small;
      &.account-info {
        color: var(--#{$prefix}success-text-emphasis);
        background-color: var(--#{$prefix}success-bg-subtle);
        border-color: shade(var(--#{$prefix}success-bg-background), 70%);
      }
      &.account-warning {
        color: var(--#{$prefix}warning-text-emphasis);
        background-color: var(--#{$prefix}warning-bg-subtle);
        border-color: shade(var(--#{$prefix}warning-bg-background), 70%);
      }
      &.account-alert {
        color: var(--#{$prefix}danger-text-emphasis);
        background-color: var(--#{$prefix}danger-bg-subtle);
        border-color: shade(var(--#{$prefix}danger-bg-background), 70%);
      }
    }
  }
}

// Item lists

.my-research-content.myresearch-grid-list {
  margin-bottom: 1.5em;
  .alert {
    margin: 0.8em 0em;
  }
  .sort-option-container {
    display: flex;
    align-items: center;
    gap: (0.25 * $spacer);
    .button-label {
      margin-right: 0.3em;
    }
    a.dropdown-toggle {
      display: inline-flex;
      margin-bottom: 0px;
      font-size: 0.9em;
    }
  }
  .cover-image {
    max-width: 100px;
    max-height: 200px;
  }
}
@include media-breakpoint-down(md) {
  .my-research-content.myresearch-grid-list {
    .sort-option-container  {
      .dropdown-menu > li > a {
        max-width: 270px;
      }
      .dropdown-toggle span:not(.icon),
      .dropdown-menu > li > a {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
      }
    }
  }
}

.myresearch-body {
  margin-top: 1.1em;
  .my-research-content {
    width: 100%;
    border-radius: $border-radius-base;
  }
  .no-content-message {
    margin-top: 0.3em;
  }
  .pagination-simple {
    margin-left: 0.4em;
  }
  .support-notice {
    margin-top: 0.3em;
    padding: 0.7em 1em;
  }

}
@include media-breakpoint-down(md) {
  .myresearch-body {
    margin-top: 0px;
    &.mainbody.right {
      padding-left: 0px;
    }
  }
}

.myresearch-table {
  width: 100%;
  margin: 0px;
  th,
  td {
    padding: 0.35em;
    vertical-align: top;
  }
  .recordcover {
    min-width: 30px;
  }

}
@include media-breakpoint-up(sm) {
  .myresearch-table {
    .half-table-column {
      float: left;
      width: 50%;
    }
    .title-column {
      float: left;
      width: 60%;
    }
    .status-column {
      float: left;
      width: 40%;
    }
  }
}

.myresearch-row {
  word-wrap: break-word;
  &:nth-child(odd) {
    background: $table-bg-accent;
  }
  .record-title {
    margin: 0em 0em 0.2em 0em;
    font-size: 1.2em;
    font-weight: 400;
  }
  .no-checkbox {
    font-size: 0.8em;
    color: $gray-light;
  }
  .alert {
    padding: 0.3em;
  }
  .checkbox-container {
    padding-left: 0px;
    .checkbox {
      padding-left: 0px;
      margin-top: 0px;
      label {
        margin-left: 0px;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .myresearch-row {
    // row for holds information
    .holds-status-information,
    .checkedout-status-information {
      text-align: right;
    }
  }
}

.loan-history-buttons-bottom {
  display: flex;
}
.loan-history-purge-all,
.button-bottom {
  margin-top: 0.7em;
}

// Fines, search history, library cards

.useraccount-table {
  margin-top: (0.5 * $spacer);
  border: 1px solid $border-color;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $border-radius-base;

  .headers {
    color: $text-color;
    th {
      background: $light;
      &:first-child {
        border-top-left-radius: $border-radius-base;
      }
      &:last-child {
        border-right: none;
        border-top-right-radius: $border-radius-base;
      }
    }
  }

  th {
    font-size: 1em;
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
    border-right: 1px solid $body-bg;
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }
    &:last-child {
      border-right: none;
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

.myresearch-table.online-payment {
  .toolbar {
    margin-bottom: 1rem;
    border: 0;
  }
}

.online-payment-status-note {
  font-weight: bold;
}

.fines-info-area {
  margin-bottom: 1.1em;
  .amount {
    font-weight: 700;
  }
  .online-payment-payable-info {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;

    .online-payment-payable {
      padding: 0.25rem 0rem;
    }
  }
  .online-payment-minimum-payment {
      @extend .alert-warning;
      color: var(--bs-alert-color);
      background-color: var(--bs-alert-bg);
      border-color: var(--bs-alert-border-color);
      margin-left: 1rem;
      padding: 0.25rem;
  }
  .last-payment-information {
    @extend .alert;
    display: flex;
    align-items: center;
    background: $gray-ultralight;
    border: 1px solid $gray-lighter;
    div {
      flex: 1 1;
    }
  }
}

.useraccount-table {
  .user-account-table-title {
    min-width: 25%;
    word-wrap: anywhere;
  }
}
@include media-breakpoint-down(sm) {
  .useraccount-table.online-payment td {
    word-wrap: anywhere;
  }
}
@include media-breakpoint-up(xl) {
  .useraccount-table .balance {
    text-align: right;
  }
}

.online-payment-note {
  margin-bottom: 40px;
}
@include media-breakpoint-up(sm) {
  .online-payment-note {
    float: left;
    width: 50%;
  }
}

.history-holder {
  .table-responsive .table tbody {
    tr,
    td {
      vertical-align: middle;
    }
  }
}

.main.template-dir-myresearch.template-name-unsubscribe {
  .unsubscribe {
    margin-bottom: 20px;
  }
}

// Ratings, comments, tags

#select_all_comments,
#select_all_ratings {
  button#cancelSelected {
    margin: 0.7em;
  }
}

.usercontent-table {
  tbody > tr > td {
    vertical-align: middle;
    .checkbox-container {
      padding-top: 0px;
      padding-bottom: 0px;
      border-top: 0px;
      border-bottom: 0px;
      .checkbox {
        padding-left: 3px;
        .checkbox-select-item {
          float: none;
        }
      }
    }
  }
  .mycomments-table-hidden .finna-tooltip-btn {
    color: $red;
  }
}
@include media-breakpoint-down(sm) {
  .usercontent-table {
    .checkbox-container {
      padding: 0px;
    }
  }
}
@include media-breakpoint-up(md) {
  .usercontent-table {
    .user-comment {
      width: 40%;
    }
  }
}
