// Offcanvas toggle button
@include media-breakpoint-down(md) {
  .mobile-functions-container {
    position: sticky;
    top: $navbar-height;
    display: flex;
    z-index: $zindex-mobile-navbar;
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
    background: $body-bg;
    border-bottom: 1px solid $border-color;
    margin-bottom: $spacer;
    &.sticky {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .btn-mobile-nav {
      display: flex;
      height: fit-content;
      align-self: center;
      white-space: nowrap;
    }
    .mobile-functions-row {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      width: 100%;
      max-width: 100%;
    }
  }
}

.btn-mobile-nav {
  @extend .btn, .btn-outline-dark;
  font-weight: 600;
  .icon {
    color: $action-link-color;
  }
  &:hover {
    .icon {
      color: inherit;
    }
  }
}

@keyframes displayBtnText {
  from {
    grid-template-columns: 0fr 0fr;
  }
  to {
    grid-template-columns: 0fr 1fr;
  }
}
@keyframes hideBtnText {
  from {
    grid-template-columns: 0fr 1fr;
  }
  to {
    grid-template-columns: 0fr 0fr;
  }
}

#narrow-search-filter-toggle {
  width: fit-content;
  .btn-elements {
    display: grid;
    grid-template-columns: 0fr 1fr;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    width: max-content; //to prevent animation not showing full text
  }
  .btn-text {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 4px;
  }
  &.collapsed {
    .btn-elements {
      grid-template-columns: 0fr 0fr;
      animation: hideBtnText 0.3s ease;
    }
  }
  .btn-elements {
    animation: displayBtnText 0.3s ease;
  }
}

// Offcanvas
@mixin vufind-offcanvas {
  $zindex-sidebar: 1036;
  $zindex-offcanvas-overlay: 1035;
  $offcanvas-offset: 80vw !default;  // Width of open menu

  // To separate offcanvas sidebar from other sidebars (needed for collection list).
  $classes: ".side-facets-container-ajax, .mobile-sidebar-container";

  body.vufind-offcanvas {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    transform: translateX(-100%);
  }
  .vufind-offcanvas-overlay {
    position: fixed;
    top: 0px;
    display: none;
    z-index: $zindex-offcanvas-overlay;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
  }
  &.vufind-offcanvas .vufind-offcanvas-overlay {
    display: block;
  }
  &.vufind-offcanvas .close-offcanvas,
  .search-filter-toggle {
    display: inline-block;
    white-space: nowrap;
  }
  &.vufind-offcanvas-left {
    .vufind-offcanvas-overlay {
      right: -100%;
    }
    .vufind-offcanvas-toggle {
      left: 0px;
    }
  }
  &.vufind-offcanvas-right {
    .vufind-offcanvas-overlay {
      left: -100%;
    }
    .vufind-offcanvas-toggle {
      right: 0px;
    }
  }
  &.vufind-offcanvas.active {
    overflow-y: hidden;
    &.vufind-offcanvas-left {
      .vufind-offcanvas-overlay {
        right: 0;
      }
      .vufind-offcanvas-toggle {
        left: $offcanvas-offset;
      }
    }
    &.vufind-offcanvas-right {
      .vufind-offcanvas-overlay {
        left: 0;
      }
      .vufind-offcanvas-toggle {
        right: 0;
      }
    }
    .vufind-offcanvas-overlay {
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }
  &.vufind-offcanvas .sidebar:has(#{$classes}) {
    position: fixed;
    z-index: $zindex-sidebar;
    height: 100%;
    top: 0;
    width: $offcanvas-offset;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: $body-bg;
    border-right: 1px solid $facet-border-color;
    transition: left 0.5s ease, right 0.5s ease;
    .mobile-navigation-header-container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  &.vufind-offcanvas-left .sidebar:has(#{$classes}) {
    left: -$offcanvas-offset;
  }
  &.vufind-offcanvas-right .sidebar:has(#{$classes}) {
    right: -$offcanvas-offset;
  }
  &.vufind-offcanvas.active {
    overflow-y: hidden;
    &.vufind-offcanvas-left .sidebar:has(#{$classes}) {
      left: 0px;
    }
    &.vufind-offcanvas-right .sidebar:has(#{$classes}) {
      right: 0px;
    }
    .vufind-offcanvas-overlay {
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }
}

// Mobile menu - apply offcanvas
@include media-breakpoint-down(md) {
  .template-name-results,
  .template-name-search,
  .template-name-blended,
  .template-dir-collection,
  .template-dir-record,
  .template-dir-myresearch,
  .template-dir-reservationlist {
    @include vufind-offcanvas();
  }
}

// Mobile menu - results
@include media-breakpoint-down(md) {
  .template-dir-collection {
    .vufind-offcanvas-overlay {
      opacity: 1;
      transition: opacity .5s;
    }
  }
}

// Mobile menu - MyResearch
@include media-breakpoint-down(md) {
  .template-dir-myresearch,
  .template-dir-reservationlist {
    &.vufind-offcanvas.active {
      .vufind-offcanvas-overlay {
        opacity: 1;
        transition: opacity .5s;
      }
    }
    .useraccount-nav {
      margin-top: 0px;
    }
  }
  #myresearch-sidebar.nav-tabs {
    border: none;
  }
}
