// *** Common styles for organisation info page and widget ***
$organisation-info-max-w: 400px !default;

.panel-heading {
    background-color: $gray-ultralight;
    color: $gray-dark;
}

.organisation-info {
    .finna-panel {
        .panel-collapse,
        .panel-body {
            outline: 0;
        }
    }
    .location-is-open {
        color: #008000;
    }
    .location-is-closed {
        color: #c33b00;
    }
    .js-opening-times {
        .js-week-navi {
            margin-bottom: 0.7em;
            font-size: 1.1em;
            font-weight: 700;
            text-align: center;
            .js-week-navi-btn {
                padding: 0px;
                margin: 0px;
                vertical-align: initial;
                border: 0;
            }
            .js-week-text {
                display: inline-block;
                margin: 0em 0.3em;
            }
            .js-loader {
                // Make sure displaying the spinner doesn't shift other elements around:
                position: absolute;
            }
        }
        .js-opening-times-week {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            margin-bottom: 1.5em;
            font-size: 1.0em;
            .date-rows {
                padding: 0.35em;
                &:not(:last-child) {
                    border-bottom: 1px solid $border-color;
                }
                &.today {
                    font-weight: 700;
                    background: $light;
                }
                &.museum {
                    .time-row {
                        .date-container {
                            display: none;
                        }
                    }
                }
                .time-row {
                    display: flex;
                    flex-flow: row nowrap;
                    width: 100%;
                    gap: 0.4em;
                    line-height: 1.26em;
                    &.sub-row {
                        padding-top: 0.2em;
                        font-size: 0.94em;
                        color: $gray-light;
                    }
                    .date-container,
                    .time-container {
                        display: flex;
                        flex: 1 0 20%;
                        flex-flow: nowrap;
                    }
                    .description {
                        display: flex;
                        flex: 1 1 60%;
                        gap: 0.7em;
                    }
                    .time-container {
                        .times,
                        .closed-today {
                            display: inline-flex;
                            justify-content: end;
                            width: 100%;
                            gap: 0.15em;
                        }
                    }
                }
            }
            .mobile-schedules {
                font-size: 1.1em;
            }
            .schedules-info {
                margin-top: 1.5em;
                margin-bottom: 0.7em;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .organisation-info {
        .js-week-navi,
        .js-opening-times .js-opening-times-week,
        .schedules-info {
            max-width: $organisation-info-max-w;
        }
    }
}

// *** Organisation info page ***
.organisation-info-page {
    padding-bottom: 1.8em;
    // .js-consortium-info-container
    .consortium-info {
        margin-bottom: 1.5em;
        h3.name {
            margin-top: 0px;
            font-size: 2.5rem;
        }
        .consortium-info-row {
            display: table;
            width: 100%;
            .consortium-logo {
                float: left;
                width: 28%;
                img {
                    max-width: 100%;
                    max-height: 150px;
                }
            }
            .description,
            .consortium-search-usage,
            .organisation-info-panel {
                float: right;
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: $spacer;
            }
            .consortium-search-usage {
                .gauge-meter {
                    width: 50%;
                    .gauge-value,
                    .gauge-label {
                        position: absolute;
                        margin-top: 1em;
                    }
                    .gauge-value {
                        margin-left: -54px;
                        font-weight: 700;
                    }
                }
            }
            .consortium-usage-rights {
                .usage-rights-text {
                    margin-bottom: 0.7em;
                    .no-info {
                        margin-bottom: 0.3em;
                        font-weight: 700;
                    }
                }
            }
            .organisation-info-panel {
                margin-top: 1.4em;
                margin-bottom: 0px;
            }
        }
        &.no-logo .consortium-info-row {
            .description {
                float: none;
                width: 100%;
                padding-left: 0px;
            }
            .consortium-search-usage,
            #collapse-usage,
            #collapse-links {
                float: none;
            }
            .organisation-info-panel {
                float: none;
            }
        }
    }
    // .js-location-selection-container
    .locations-title {
        padding: 0.4em;
        font-size: $font-size-h3;
    }
    .location-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        .location-selection {
            max-width: 30rem;
            margin-right: 1rem;
            .js-location-unavailable {
                position: absolute;
                margin-top: 1.8em;
            }
        }
        .js-location-search-container {
            flex-basis: 60%;
            .js-location-search-toggle {
                padding: $padding-base-vertical $padding-base-horizontal;
                font-weight: 400;
                &:hover, &:active, &:focus {
                    background-color: $light;
                }

                &[aria-expanded=false] {
                    .search-collapse {
                        display: none;
                    }
                    ~ div {
                        display: none;
                    }
                }
                &[aria-expanded=true] .search-expand {
                    display: none;
                }
            }
            .js-location-search {
                // Styling alike .dropdown-menu:
                position: absolute;
                z-index: $zindex-dropdown;
                max-width: calc(100% - 2em);
                margin-right: 1em;
                background: $gray-ultralight;
                border: 1px solid $dropdown-border-color;
                @include box-shadow(0 6px 12px rgba(0, 0, 0, .275));
                .js-location-search-fields {
                    padding: 1.5rem 1rem 0.5rem;
                    border-bottom: $divider-border;
                    .input-row {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                        margin-bottom: 1rem;
                        .service-type-container {
                            flex: 1 1 60%;
                        }
                        .service-location-container {
                            min-width: 150px;
                        }
                    }
                }
                .js-results-loader {
                    width: 100%;
                    padding: 1rem;
                    background: $body-bg;
                }
                .js-location-search-results {
                    max-height: calc(100vh - 170px);
                    overflow-y: scroll;
                    .location-search-result {
                        display: flex;
                        gap: 1rem;
                        padding: 1rem;
                        &:nth-child(odd) {
                            background: $body-bg;
                        }
                        .location-search-result-main {
                            flex: 1;
                            .distance {
                                color: $success;
                            }
                        }
                        .open-times-info {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    .consortium-notification {
        padding: 0.7em;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        font-weight: 700;
        background-color: $gray-lighter;
    }
    .location-information {
        margin-bottom: 2rem;
        .js-location-loader {
            // Make sure displaying the spinner doesn't shift other elements around:
            position: absolute;
            margin-top: 1rem;
        }
        .js-location-quick-information {
            margin: 1.5em 0em;
            flex: 1 1 50%;
            h2 {
                padding: 0px;
                margin: 0px;
            }
            h3 {
                margin-top: 0px;
            }
           .address {
                letter-spacing: 0.3px;
            }
            .open-closed-info {
                margin: 0.5em 0em;
                .times,
                .shift {
                    display: inline-flex;
                    gap: 0.15em;
                }
            }
            .location-description {
                margin: 0.7em 0em;
                color: $gray-light;
            }
        }
        .js-location-info-map {
            display: flex;
            flex: 1 1 50%;
            .location-map {
                width: 100%;
                .map {
                    position: relative;
                    margin-top: 0.3em;
                    clear: both;
                    .js-map-widget {
                        z-index: 0;
                        width: 100%;
                        height: 320px;
                    }
                    .leaflet-container {
                        .leaflet-top {
                            .leaflet-bar {
                                z-index: initial;
                            }
                        }
                    }
                    .leaflet-popup-content p {
                        margin: 0.5rem 0;
                    }
                    .leaflet-popup-close-button {
                        width: 2rem;
                        height: 2rem;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        color: $dark;
                    }
                    .map-bubble {
                        h3 {
                            min-width: 120px;
                            max-width: 200px;
                            font-size: $font-size-base;
                        }
                    }
                    .map-marker-text,
                    .marker {
                        padding-right: 0.3em;
                        font-size: 1.5em;
                    }
                    .map-marker-icon {
                        &.open {
                            color: #008000;
                        }
                        &.closed {
                            color: #c33b00;
                        }
                        &.no-schedule {
                            color: $gray-light;
                        }
                    }
                    .js-marker-tooltip {
                        position: absolute;
                        z-index: $zindex-tooltip;
                        width: fit-content;
                        padding: 0.4em;
                        color: $gray;
                        background: $body-bg;
                        border: 1px solid $gray-lighter;
                        opacity: 0.9;
                    }
                }
            }
            .js-map-controls {
                text-align: right;
                button[disabled] {
                    color: $gray;
                }
            }
        }
    }
    // .js-location-details-container
    .location-details {
        margin-top: 1em;
        .finna-panel {
            margin-bottom: 1rem;
            clear: both;
        }
        .location-col {
            position: relative;
            p {
                padding-bottom: 0px;
                margin-bottom: 0px;
                overflow-wrap: break-word;
            }
            img {
                margin-top: 1em;
                margin-bottom: 0.4em;
            }
            .building-year,
            .building-name {
                font-size: 0.9em;
            }
            .location-description {
                min-height: 5px;
                margin-top: 1em;
                font-weight: 400;
                overflow: hidden;
                > * {
                    display: inline-flex;
                    flex-direction: column;
                }
            }
            &.opening-times {
                .js-opening-times {
                    padding-bottom: 0px;
                    .panel-body {
                        padding-right: 0px;
                        padding-left: 0px;
                    }
                }
                .info.js-schedules.no-schedules {
                    margin: 0.7em;
                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
            .feed-container {
                margin-bottom: 0.7em;
                .list-feed.with-image {
                    img {
                        max-width: 30%;
                    }
                    span.date {
                        position: inherit;
                    }
                    .text,
                    .title,
                    .xcal {
                        width: 65%;
                        line-height: 1.5em;
                    }
                    .xcal-fields {
                        float: right;
                        width: 65%;
                        margin-bottom: 1em;
                        font-size: 85%;
                    }
                    .xcal {
                        float: none;
                    }
                    .text {
                        max-height: 12em;
                        margin-bottom: 20px;
                        overflow: hidden;
                    }
                    .title {
                        margin-top: -3px;
                    }
                }
            }
            .contact-details {
                .panel-body > div {
                    margin-bottom: 0.9em;
                    > span:first-child {
                        display: inline-block;
                        margin-top: 0px;
                        margin-bottom: 0.5rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    ul:not(.contact-info) li {
                        margin-bottom: 0.5rem;
                    }
                }
            }
            .contact-name {
                font-weight: 700;
            }
        }
        .services {
            .service-header {
                font-size: 1.5em;
            }
            .service-list {
                column-count: 1;
                div {
                    line-height: 2em;
                    break-inside: avoid-column;
                    page-break-inside: avoid;
                }
                .service-tooltip {
                    padding: 0px;
                    color: $link-color;
                    text-align: left;
                    text-decoration: none;
                    background-color: inherit;
                    border: none;
                }
            }
        }
        .accessibility-details {
            .panel-body {
                padding-bottom: 1em;
                .accessibility-group-heading {
                    font-size: 1.5em;
                }
                .accessibility-group-statements p {
                    padding-bottom: 0.8em;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .organisation-info-page {
        .consortium-info {
            .consortium-info-row {
                .consortium-logo {
                    float: none;
                    margin-right: 0px;
                    margin-bottom: 0.7em;
                }
                .description,
                .organisation-info-panel,
                .consortium-search-usage {
                    float: none;
                    width: 100%;
                }
            }
        }
        .location-filters {
            .location-selection {
                margin-right: 0px;
            }
            .js-location-search-container {
                flex-basis: 100%;
            }
        }
        .location-details {
            // Override negative margins of .row on narrow screens:
            margin-right: 0px;
            margin-left: 0px;
        }
        .finna-panel .js-opening-times {
            .panel-title {
                max-width: none;
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    .organisation-info-page {
        .location-information {
            display: flex;
            gap: 1rem;
        }
        .location-details {
            .location-row-general {
                display: flex;
                justify-content: space-between;
            }
            .location-col {
                float: left;
                width: 32%;
            }
            .services {
                display: inline-block;
                width: 100%;
                .service-list {
                    column-count: 3;
                }
            }
        }
    }
}

// *** Widget ***

.organisation-info-widget {
    display: inline-block;
    width: 100%;
    padding-bottom: 1.5em;
    .js-location-dropdown {
        margin-bottom: 1em;
        font-weight: 400;
        > .dropdown-toggle {
            max-width: 100%;
            padding: 0.35em;
            margin-right: 0.1em;
            color: $text-color;
            border: 1px solid $border-color;
            border-radius: $btn-border-radius;
            transition: background .1s linear, color .2s linear;
            &[disabled] {
                background-color: $body-bg;
                border: none;
                .dropdown-icon {
                    display: none;
                }
                &:hover {
                    background: transparent;
                }
            }
            &:hover,
            &:active,
            &:focus {
                color: $text-color;
                text-decoration: none;
                background: $gray-lighter;
                .icon {
                    color: $text-color;
                }
            }
            .js-aria {
                display: inline-flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                gap: 0.3em;
                .js-selected  {
                    display: inline-block;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    color: $gray-light;
                }
            }

        }
        > .dropdown-menu {
            max-height: 80vh;
            min-width: 200px;
            overflow: auto;
            overflow-x: hidden;
            > li {
                padding: 0.8em 0.6em;
                color: $gray;
                cursor: pointer;
                transition: background .2s linear;
                &:hover {
                    text-decoration: none;
                    background: $gray-lighter;
                }
            }
        }
    }
    .js-open-status {
        .location-is-open,
        .location-is-closed {
            font-size: 1.45em;
            font-weight: 700;
        }
    }
    .js-opening-times {
        padding-bottom: 1.5em;
        .js-week-navi {
            // Improve alignment with open/close status on narrow screens:
            margin: 4px 0px 8px 0px;
        }
    }
    .btn:not(.btn-link) {
        width: 35px;
        height: 35px;
        padding: 0px;
        margin-top: 0.2em;
        margin-right: 0.1em;
        color: $body-bg;
        font-size: $font-size-large;
        font-weight: 400;
        line-height: 35px;
        background: $link-color;
        border-radius: 0px;
        &:hover {
            background: darken($link-color, 20%);
        }
        &.btn-round {
            border-radius: 50%;
        }
    }
    .address {
        margin-top: 0.4em;
        letter-spacing: 0.3px;
    }
    .services {
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
}
@include media-breakpoint-up(md) {
    .organisation-info-widget {
        .info-col {
            width: 65%;
            padding-right: 1em;
        }
        .details-col {
            width: 35%;
            padding-left: 1em;
        }
        .details-col,
        .info-col {
            float: left;
        }
    }
}
@include media-breakpoint-up(lg) {
    .organisation-info-widget {
        .info-col {
            width: 60%;
        }
        .details-col {
            width: 40%;
        }
    }
}
