.my-research-content .logged-in-as {
  margin-bottom: 1.1em;
  > div {
    display: flex;
    div {
      padding-right: 1.6em;
      word-wrap: anywhere;
    }
  }
  .profile-title {
    font-weight: 700;
  }
}
@include media-breakpoint-down(md) {
.my-research-content .logged-in-as {
  > div {
      // .display-name display deprecated
      &:not(.display-name) {
        flex-direction: column;
      }
      div {
        padding-bottom: 0.3em;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .my-research-content {
    width: 100%;
  }
}

.myresearch-profile-list {
  padding: 0em 0.5em 0.8em;
  &.library-card-holder {
    padding-left: 0px;
    .select-card-label {
      font-weight: 700;
    }
  }
  label,
  .profile-title {
    padding-top: 0.5em;
  }
  .profile-title {
    clear: left;
  }
  .clearfix {
    padding: 3px 0px;
  }
  #email,
  #finna_nickname {
    width: 100%;
  }
}
@include media-breakpoint-down(sm) {
  .myresearch-profile-list {
    #email,
    #finna_nickname {
      max-width: 320px;
      margin-bottom: 0.3em;
    }
  }
}

.myresearch-profile-header {
  background: $light;
  h3 {
    padding: $padding-large-vertical $padding-large-horizontal;
    margin: 0px;
    font-size: $font-size-h4;
    font-weight: 600;
    color: $text-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }
}

.library-profile {
  display: inline-block;
  width: 100%;
  margin-bottom: (2 * $spacer);
  border: 1px solid $border-color;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  #profile_library_form input {
    min-width: 210px;
  }
  div {
    padding: 0.6em;
    &.separator {
      float: left;
      width: 100%;
      padding: 0px;
      margin: 1.1em 0em 0.7em;
      border-top: 1px solid $btn-default-border;
    }
    &.my-profile-row {
      display: inline-block;
      width: 100%;
      > .my-profile-col {
        padding: 0em 0.6em 0em 0em;
      }
    }
    &.profile-title {
      font-weight: 700;
      line-height: 1.5;
    }
    &.profile-text-value {
      line-height: 1.5;
    }
    &.profile-long {
      padding-bottom: 0px;
    }
    &.messaging-last {
      margin-bottom: 20px;
    }
    &.profile-group {
      padding-top: 0px;
      padding-left: 16px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .library-profile {
    div {
      &.my-profile-row {
        padding: 0.7em 0.6em 0.6em;
      }
      &.profile-title {
        padding-bottom: 0px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .my-profile-col {
    float: left;
    width: 33.33%;
  }
}

.myresearch-profile-middle-header {
  display: block;
  margin: 0px;
  font-size: $font-size-h4;
  font-weight: 700;
  line-height: 1.1em;
}

#favorites-import-dialog {
  .form-group {
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
  .form-control {
    max-width: 200px;
  }
  .alert {
    margin-top: $modal-title-padding;
  }
}

.address-change-description,
.messaging-settings-change-description {
  padding: 2em;
  padding-left: 2.5em;
  margin-bottom: 1em;
  background-color: $info-bg-subtle;
}

.my-research-content {
  .message-body {
    padding: 0.4em;
  }
  .login-tokens-section {
    padding: 0.7em;
    .login-tokens-table {
      margin-bottom: 0px;
      tbody > tr > td {
        vertical-align: middle;
      }
    }
    .delete-all-tokens {
      margin: 0.7em;
    }
  }
}

.my-profile-btn {
  display: inline-block;
  margin: 0em 0.3em 0.6em 0em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@include media-breakpoint-down(sm) {
  .my-profile-btn {
    float: left;
    display: block;
    width: 100%;
    &.btn-danger {
      margin-top: 1em;
    }
  }
}
@include media-breakpoint-up(sm) {
  .my-profile-btn {
    max-width: 250px;
  }
}

fieldset.profile-group {
  margin-bottom: 20px;
  .form-group {
    margin-left: 16px;
  }
}

.profile-form {
  legend {
    &.form-field {
      font-size: ($font-size-base * 1.1);
    }
    &.form-label,
    &.control-label {
      margin-bottom: 5px;
      font-size: 100%;
      font-weight: 700;
      border: 0;
    }
  }
  .form-control[type="radio"] {
    display: inline-block;
    height: 1.5em;
    padding: 0px;
    margin: 0em 0.5em 0em 0em;
  }
}
