// All search control buttons
.search-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  .alert {
    margin-bottom: 0px;
  }
  .update-location-button {
    margin-top: 15px;
    font-weight: 600;
    color: $body-bg;
  }
  .button-label {
    padding: 0.25em;
  }
  .control-container {
    display: flex;
    margin-top: (0.5 * $spacer);
    margin-bottom: (0.5 * $spacer);
    gap: 0.5rem;
    font-size: $font-size-small;
  }
  .sort-option-container,
  .limit-option-container,
  .view-option-container {
    display: inline-block;
  }
  .view-option-container {
    flex-grow: 1;
  }
}
@include media-breakpoint-down(xs) {
  .search-controls {
    .sort-button,
    .view-dropdown {
      .dropdown-toggle {
        display: inline-block;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .search-header {
    display: flex;
    .search-stats {
      flex-grow: 1;
    }
  }
  .search-controls {
    text-align: right;
  }
}

@include media-breakpoint-up(lg) {
  .sort-button,
  .view-options,
  .view-dropdown {
    display: inline-block;
  }
  .search-controls {
    .control-container {
      width: auto;
    }
  }
}

.sort-button,
.view-dropdown {
  font-weight: 600;
  color: $body-bg;
  .dropdown-toggle {
    display: inline-block;
    padding: 0.4em;
    @extend .btn, .btn-outline-dark;
    font-size: $font-size-small;
  }
  .dropdown-menu {
    padding: 0px;
    border-radius: $border-radius-base;
    > li > a {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      text-align: left;
    }
  }
}

.view-option-container .view-button {
  display: inline-block;
  padding: 0.4em;
  color: $dark;
  border-radius: $finna-button-radius;
  a {
    color: inherit;
  }
  &:hover, &:focus-within {
    background: $dark;
    color: $light;
  }
  &.selected {
    border: $btn-border-width solid $dark;
  }
}

.search-tab-tip, .search-sort-title {
  background-color: $search-tab-tip-bg;
  margin-top: $spacer;
  margin-bottom: $spacer;
  border-radius: $alert-border-radius;
  padding: $alert-padding-y $alert-padding-x;
  position: relative;
  p {
    margin: 0.2em;
  }
}

.search-sort-title {
  flex: 1 0 99%;
  margin-right: 4px;
}
