// Thumbnail sizes for media items: search results, list entries, record views
$thumbnail-width-small:  100px !default;
$thumbnail-width-medium: 150px !default;
$thumbnail-width-large:  200px !default;

// mobile toolbar
@include media-breakpoint-down(sm) {
  .prevent-scroll {
    overflow: hidden;
  }
}

.searchContent {
  background-color: $finna-search-background;
}

.template-dir-search.template-name-home {
  position: relative;
  .search-form-container {
    padding-top: 2em;
    padding-bottom: 2em;
    @include gradient-vertical($background-start-color, $background-end-color, $background-start-percent, $background-end-percent);
  }
  .searchContent {
    -webkit-overflow-scrolling: touch;
    background-color: $background-color;
    background-image: $background-image-url;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
@include media-breakpoint-down(sm) {
  .template-dir-search.template-name-home .searchContent {
    background-size: 350% auto;
  }
}
@include media-breakpoint-down(md) {
  .template-dir-search.template-name-home .searchContent {
    background-size: 150% auto;
    background-position: 50% 0;
    .record-view-header > .container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

.search-bg-image-info {
  display: flex;
  justify-content: flex-end;
}
.search-bg-image-info-content {
  display: inline-flex;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 0.8em;
  color: $gray;
  background: rgba(255, 255, 255, 0.9);
}

/* Results */
/* --- Layout --- */
@include media-breakpoint-down(sm) {
  .media-left {
    float: right;
  }
}
@include media-breakpoint-up(md) {
  .mainbody {
    width: 75%;
    &.left{
      float: left;
      padding-right: 15px;
    }
    &.right{
      float: right;
      padding-left: 15px;
    }
  }
  .sidebar {
    width: 25%;
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
  .empty-list {
    width: 75%;
  }
  .record-image-container {
    position: relative;
  }
}
@include media-breakpoint-down(md) {
  .template-dir-myresearch,
  .template-dir-holds,
  .template-dir-librarycards,
  .template-name-mylist,
  .template-name-history,
  .template-dir-comments.template-name-userlist,
  .template-dir-ratings.template-name-userlist,
  .template-dir-reservationlist {
    .container.main-content > .mainbody {
      width: 100%;
    }
  }
}

.no-results {
  margin-bottom: 1.7em;
}

.empty-list {
  .checkbox-filters {
    display: none;
  }
}

.js-result-list {
  position: relative;

  // Loading spinner
  .loading-overlay {
    align-items: flex-start;
    z-index: $zindex-loading-overlay;
    @include loading-overlay();
  }
}

.result {
  padding-top: 15px;
  padding-bottom: 15px;
  .media-left,
  .media-right {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
    &.small img,
    &.medium img,
    &.large img {
      max-width: 100%;
    }
  }
  .record-checkbox {
    flex: 0;
  }
  .result-alt-titles {
    color: $gray-slightly-lighter;
  }
  .label {
    display: inline-block;
  }
  .list-view {
    .more-link,
    .less-link,
    .less-link-top {
      padding-bottom: 0px;
    }
    .publish-year {
      display: block;
    }
  }
  .dateyeartype {
    @include date-and-year();
  }
  .record-versions {
    font-size: 0.9em;
    &:not(.loading) {
      text-transform: uppercase;
    }
  }
}
@include media-breakpoint-down(sm) {
  .result {
    border-bottom: 1px solid $border-color;
    &#result0,
    &:first-child {
      border-top: 1px solid $border-color;
    }
  }
}

.result-body {
  padding-left: 1rem;
}
@include media-breakpoint-up(sm) {
  .result-body {
    position: relative;
    float: left;
    width: 100%;
    padding-right: 2.5rem;
  }
}

h2.search-title,
h2.title,
.result-body h3 {
  padding: 0px;
  margin: 0px;
  font-size: $font-size-h4;
  font-weight: 600;
  line-height: 1.1em;
}
.browse-title {
  margin: 0.8rem 0rem;
}
.browse-desc {
  margin-bottom: 10px;
}

.spelling-suggestions {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  a {
    margin-right: 0.3em;
  }
}

.highlight {
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  color: inherit;
  background: none;
}

.savedLists {
  @extend .alert;
  @extend .alert-info;
  display: none;
  ul {
    margin-bottom: 0px;
  }
}
.savedLists.loaded {
  display: block;
}

.available-online-links,
.recordURLs {
  .online-source {
    font-size: 0.9em;
    color: $dark;
  }
  a {
    padding-left: 0.1em;
    .icon {
      font-size: 1.2em;
    }
  }
}
.available-online-links,
.recordURLs,
.hierarchyTreeLink {
  clear: both;
  font-weight: 400;
  letter-spacing: 0.2px;
  word-break: break-all;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.result-citation-links {
  margin: 0.5rem 0rem;
}

.add-to-favorite-col {
  a {
    @extend .btn, .btn-sm, .btn-outline-dark;
    width: 100%;
    .icon {
      color: $action-link-color;
    }
    &:hover, &:focus-visible {
      .icon {
        color: inherit;
      }
    }
  }
  .qrcode {
    min-width: 110px;
  }
  // Highlight cart item.
  .btn-bookbag-toggle > a.cart-remove {
    @extend .btn-dark;
      .icon {
        color: inherit;
      }
  }
}
@include media-breakpoint-down(sm) {
  .add-to-favorite-col {
    display: flex;
    gap: 0.75rem;
    margin: $spacer 0rem;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      display: inline-flex;
      align-items: center;
      gap: 0;
      width: auto;
      .icon {
        color: $action-link-color;
        margin-right: (0.25 * $spacer);
      }
      &:hover {
        .icon {
          color: inherit;
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .add-to-favorite-col {
    position: absolute;
    top: 0px;
    right: 0px;
    a {
      text-align: center;
      margin-bottom: (0.5 * $spacer);
      width: 2rem;
    }
  }
}

.learning-material-recommendation {
  a {
    text-decoration: underline;
  }
  p {
    margin: 0px;
  }
}

.record-type-lrmi.list-view,
.record-type-aipa.list-view {
  .targeted-information {
    margin: 0.4em 0em 0em;
    .lrmi-topic {
      display: inline-block;
      padding: 0.2em 0.4em;
      margin: 0em 0.2em 0.4em 0em;
      color: $gray;
      background-color: $gray-ultralight;
    }
  }
  .material-rights {
    display: flex;
    flex-flow: column nowrap;
    .rights-icons {
      background-color: initial;
    }
  }
}
.record-list:not(.search-results-l1) {
  .record-type-lrmi,
  .record-type-aipa {
    .targeted-information,
    .targeted-information + .more-link,
    .targeted-information + .less-link,
    .material-rights {
      display: none;
    }
  }
}

// Optionally displayed
.result-edition {
  display: none;
}

.versions-tab .search-header {
  .search-controls {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 1rem;
    .more-link {
      margin-top: 0.1em;
    }
  }
  .search-stats {
    padding-top: 0px;
    flex-grow: 0;
  }
}
@include media-breakpoint-down(sm) {
  .versions-tab .search-header {
    .search-controls {
      padding-left: 0px;
    }
  }
}

.search-history-table {
  @extend .table;
  @extend .table-responsive;
}
table.search-history-table {
  table-layout: auto;

  .history_results {
    white-space: nowrap;
  }

  @media screen {
    @include media-breakpoint-up(sm) {
      border: 1px solid $border-color;
      tbody > tr > td {
        vertical-align: middle;
      }
      .history_time {
        width: 20%;
      }
    }
    @include media-breakpoint-down(sm) {
      tbody > tr {
        border: 1px solid $border-color;
      }
    }
  }
}

.searchtools-background {
  background: $finna-searchtools-background;
  .searchtools {
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
    a {
      display: inline-block;
      padding: 0rem 0.5rem;
      margin-right: 1em;
      font-size: $font-size-large;
      font-weight: 600;
      color: $finna-searchtools-color;
      white-space: nowrap;
    }
  }
}

.active-filters > div {
  .filter-options {
    width: fit-content;
  }
}
@include media-breakpoint-up(md) {
  .active-filters > div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
