/* Finna search sidebar */
.sidebar > .side-facets-container-ajax, .sidebar > .mobile-sidebar-container {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  @include media-breakpoint-up(md) {
    border: 1px solid $sidebar-border-color;
    border-radius: $sidebar-border-radius;
    overflow: hidden;
  }
  // Checkbox filters
  .checkbox-filters {
    padding: 0.3em 0em 0.6em;
    border-bottom: 1px solid $facet-border-color;
    @extend .checkbox-container;
    .checkbox {
      display: flex;
      gap: 0.6em;
      margin: 0.6em 0em;
      > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 0px;
        &:before {
          margin-right: 0.3em;
          margin-left: -22px;
        }
      }
    }
    // Checkbox facet badges
    .badge.cb-facet {
      display: $display-checkbox-facet-amount;
      margin-top: 0.2em;
      margin-right: 0.8em;
    }
    input[type="checkbox"] {
      min-width: 1rem;
    }
  }
  @include media-breakpoint-between(sm, md) {
    #sidebar .checkbox-filters {
      .badge {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .checkbox > div {
        flex-wrap: wrap;
      }
    }
  }
}

/* Sidebar container and header */
.sidebar {
  margin-bottom: 2em;
}
@include media-breakpoint-down(md) {
  .sidebar {
    clear: both;
  }
}

.sidebar h1,
.sidebar h2 {
  padding: $padding-large-vertical $padding-base-horizontal;
  margin: 0px;
  font-size: $font-size-h4;
  font-weight: 600;
  color: $sidebar-header-text-color;
  background-color: $sidebar-background;
  word-wrap: break-word;
  .icon {
    color: $sidebar-header-icon-color;
  }
}
.sidebar p {
  padding: $padding-large-vertical $padding-base-horizontal;
}

.sidebar .mobile-navigation-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  color: $sidebar-header-text-color;
  background-color: $sidebar-background;
  border-bottom: $divider-border;
  > h1 {
    line-height: 1.5em;
    background: transparent;
    color: inherit;
  }
  .finna-toggletip button {
    font-size: $font-size-icon-large;
    margin-right: 0.25rem;
  }
}
@include media-breakpoint-down(md) {
  .sidebar .mobile-navigation-header-container {
    position: sticky;
    top: 0px;
    z-index: $zindex-navbar;
    padding: 1rem;
    margin-bottom: 0px;
    background: $light;
    color: $text-color;
    .close-offcanvas-btn, .reset-filters-btn {
      color: $text-color;
      padding: 0px $padding-large-horizontal;
      font-weight: 600;
      .icon {
        text-decoration: none;
      }
      .btn-link__label {
        text-decoration: underline;
      }
    }
    .sidebar-close-btn {
      border: none;
      background: transparent;
    }
    .finna-toggletip {
      padding-left: 0.7em;
      margin-right: auto;
      > span {
        position: fixed;
      }
    }
  }
}

.mylist-bar,
.reservationlist-bar {
  h1.mobile-navigation-header {
    text-transform: none;
  }
}

/* Sidebar content */

.list-group {
  margin-bottom: 0px;
}

.list-group-item,
button.list-group-item {
  padding: $padding-large-vertical $padding-base-horizontal;
  position: relative;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  // title custom coloring
  &.title {
    color: $facet-text-color;
    background: $facet-header-background;
    &:hover,
    &:focus {
      color: $facet-text-color;
      background: $facet-header-background;
    }
  }
}

/* Record's sidebar content */

.recordProvidedBy {
  .record-organisation {
    &.organisation-page-link-visible > .organisation-name {
        display: none;
    }
    img.consortium-logo {
      display: block;
      max-width: 200px;
      max-height: 110px;
    }
    li {
      line-height: 1.5;
      &.organisation-page-link {
        padding-top: 0.3em;
        a {
          display: block;
        }
        .organisation-name {
          font-size: $font-size-large;
          font-weight: 600;
        }
      }
      &.material-questions-feedback {
        padding-top: $padding-large-vertical;
        font-weight: 600;
      }
    }
  }
  .repository-library-request {
    padding-top: 0.7em;
    font-weight: 600;
  }
  .repository-library-request-order {
    margin-top: 0.3em;
  }
}
@include media-breakpoint-down(sm) {
  .recordProvidedBy .record-organisation {
    img.consortium-logo {
      max-height: 70px;
    }
  }
}
@include media-breakpoint-between(sm, md) {
  .recordProvidedBy .record-organisation {
    img.consortium-logo {
      max-height: 95px;
    }
  }
}

.sidebar .recordProvidedBy {
  margin-top: 0px;
  margin-bottom: $spacer;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  overflow: hidden;
  h2 {
    border-bottom: $divider-border;
  }
  > .record-organisation-box, > .list-group.organisations {
    padding: $padding-large-vertical $padding-base-horizontal;
  }
  .record-organisation-box {
    .record-type.organisations {
      margin-bottom: 0px;
      font-size: 1em;
    }
    .list-group.organisations {
      background: $list-group-bg;
      .record-organisation {
        background: $body-bg;
        margin-bottom: $spacer;
      }
      .other-organisation-links a {
        display: block;
        overflow: hidden;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.similar-records,
.related-records,
.work-expressions {
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  overflow: hidden;
  margin-bottom: $spacer;
  border-bottom: 1px solid $border-color;
  @media print {
    display: none;
  }
  .list-group-item {
    border-top: $divider-border;
  }
  .details {
    color: $text-color;
  }
  .list-group {
    .more-link,
    .less-link,
    .show-all-link {
      display: block;
      padding-top: 5px;
      margin: 0px;
      color: $gray;
    }
  }
}

.related-records {
  li.list-group-item p {
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .list-sub-group li {
    margin-top: 0.6em;
  }
}
