.finna-main-tabs,
.authority-recommend
{
  background-color: transparent;

  ul.nav-tabs > li {
    display: flex;
    align-items: last baseline;
    padding-bottom: 0px;
    &.with-tooltip > a {
      padding-right: 2.5rem;
    }
    > a  {
      flex: 1;
      // Disable isolation that would cover the tooltip button:
      &:hover {
        isolation: auto;
      }
    }
    > .finna-toggletip {
      display: $tooltip-tabs-default;
      &.tooltip-tabs_local {
        display: $tooltip-tabs-local;
      }
      &.tooltip-tabs_pci {
        display: $tooltip-tabs-pci;
      }
      > button {
        display: inline-block;
        position: relative;
        margin-left: -2.25rem;
        font-size: $font-size-large;
        color: inherit;
        background-color: transparent;
        border: none;
        opacity: 1;
      }
    }
  }
}

.finna-main-tabs .nav-scrollable > .nav {
  margin-bottom: 0px;
  overscroll-behavior-y: none;
  border-bottom: none;
  text-align: center;
  @include media-breakpoint-down(sm) {
    .nav-link {
      max-width: 18em;
      text-wrap: auto;
    }
  }
}

.search-tabs-recommendations {
  padding-top: $padding-large-horizontal;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  a.title {
    display: inline-block;
    .searchterms {
      font-weight: 600;
    }
  }
  .count {
    color: $text-muted;
  }
  div.result:first-of-type {
    padding-top: 0px;
  }
}
@include media-breakpoint-down(sm) {
  .search-tabs-recommendations {
    a.title {
      display: block;
    }
  }
}

// RSS-feed and Linked Events tabs
.feed-tabs,
.linked-events-tabs {
  .nav-tabs {
    margin-left: 0.4em;
    > li {
      padding: 0.6em 0em 0em 0em;
      // Make the list-items overlay the bottom border
      margin-bottom: -1px;

      font-size: 1.1em;
      font-weight: 500;
      color: $nav-tabs-text-color;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        color: $nav-tabs-link-hover-color;
        border-color: transparent;
      }
      // Active state, and its :hover to override normal :hover
      &.active {
        cursor: initial;
        &,
        &:hover,
        &:focus {
          margin-bottom: -1px;
          background-color: $body-bg;
          color: $text-color;
          border-bottom: none;
          transition: 0s;
        }
      }
      a {
        height: 100%;
        margin-right: 0px;
      }
    }
  }
}
@include media-breakpoint-only(sm) {
  .feed-tabs,
  .linked-events-tabs {
    .nav-tabs {
      > li {
        .icon {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .feed-tabs,
  .linked-events-tabs {
    .nav-tabs {
      > li {
        font-size: 0.9em;
      }
    }
  }
}

.recordTabs.nav {
  li.tab-right {
    flex: 1 0;
    display: flex;
    justify-content: end;
  }
}

/*
 * Scrollable tab navigation
 */
.nav-scrollable {
  position: relative;
  overscroll-behavior-x: contain;
  --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};

  .nav {
    $nav-scrollable-link-active-color: $primary !default;
    $nav-scrollable-link-active-border-color: $primary !default;
    --#{$prefix}nav-scrollable-border-width: #{$nav-tabs-border-width};
    --#{$prefix}nav-scrollable-border-color: #{$nav-tabs-border-color};
    --#{$prefix}nav-scrollable-link-active-color: #{$nav-scrollable-link-active-color};
    --#{$prefix}nav-scrollable-link-active-border-color: #{$nav-scrollable-link-active-border-color};
    display: flex;
    flex-wrap: nowrap; /* Overrides default wrap */
    overflow-x: auto;
    padding-left: 1px; /* Padding for focus ring */
    padding-right: 1px; /* Padding for focus ring */
    width: 100%;
    border-bottom: var(--#{$prefix}nav-scrollable-border-width) solid var(--#{$prefix}nav-scrollable-border-color);
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    &::-webkit-scrollbar { display: none; } /* Chrome/Safari */
  }

  /* Arrow buttons */
  .arrow-btn {
    position: absolute;
    // Calculate position relative to normal line height and our height taking the nav-item padding into account:
    top: calc(var(--#{$prefix}nav-link-padding-y) - (2rem - 1rem * var(--#{$prefix}body-line-height)) / 2 + 2px);
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
    background: #fff;
    z-index: 10;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 .125rem .25rem rgba(0,0,0, .25);

    &.scroll-next-btn {
      right: -0.5rem;
    }
    &.scroll-prev-btn {
      left: -0.5rem;
    }
    &.hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  /* Items and active indicator */
  .nav-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    padding: 2px 2px 0 2px; /* Padding for focus ring */

    .nav-link {
      white-space: nowrap;
      position: relative;

      &.active {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background: var(--#{$prefix}nav-scrollable-link-active-border-color);
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }
}

// Tab content container
.tab-content {
  margin-bottom: 1.5em;
  outline: 0;
  &:focus-visible {
    box-shadow: $focus-ring-box-shadow;
  }
}
