.video-popup {
  max-width: 900px;
  max-height: 768px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.video-warning {
  text-align: center;
}

.video-popup, .finna-iframe {
  .video-warning {
    position: absolute;
    bottom: 5%;
    background: transparent;
    padding: 2px;
    left: 10px;
  }
}

#video-player:focus, video:focus {
  outline: none;
}

.video-js-player {
  height: 100%;
  width: 100%;
}
.inline-video, .video-popup, .finna-iframe {
  &.finna-popup {
      display: flex;
      align-content: center;
      justify-content: center;
      .popup-iframe-wrapper {
        // These values are from examples in https://icareus.fi/videosoittimet/
        position: relative;
        width: 100%;
        // This padding-top value prevents the player from overflowing
        padding-top: 56.25%;
        margin: auto;
        iframe {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
}
.inline-video-container {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  background-color: black;
  margin-bottom: 10px;
  .inline-video {
    .embed-responsive-item {
      height: 100%;
      width: 100%;
    }
    .finna-iframe.modal-holder {
      max-width: 800px;
    }
  }
  .video-accordion {
    padding-top: 15px;
  }
  .video-buttons {
    background-color: $gray-ultralight;
  }
  .video-link-container {
    width: 200px;
  }
  .video-warnings {
    padding: 4px 0;
  }
}

.video-warning-icon > img {
  width: 32px;
  height: 32px;
}

.video-accordion {
  .video-link-container {
    border: 1px solid $gray-ultralight;
    border-bottom: 0;
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: left;
    background-color: white;
    box-shadow: 2px 4px 3px $gray-lighter;
    overflow: hidden;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    .icon {
      padding: 5px;
      font-size: 2.5em;
      background-color: $gray-light;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
    .video-desc {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .active-video {
    color: $brand-primary;
    .icon {
      background-color: $brand-primary;
      color: white;
    }
  }
}

finna-video {
  display: inline-block;
  cursor: pointer;
  &.btn.btn-link {
    padding: 0;
  }
}

.vjs-airplay-button {
   .vjs-icon-placeholder {
      background:       $icon-airplay--default center center no-repeat;
      background-size:  contain;
      display:          inline-block;
      height:           $icon-airplay-size;
      width:            $icon-airplay-size;
   }

   &:hover {
      cursor: pointer;
      .vjs-icon-placeholder {
         background-image: $icon-airplay--hover;
      }
   }
}
